@charset "UTF-8";
/*
  information
--------------------------------------------- */


/*index 情報公開*/
dl.information-menu-list{
  display: table;
  width: 100%;
  margin-top: 25px;
}

dl.information-menu-list dt,
dl.information-menu-list dd{
  display: table-cell;
}

dl.information-menu-list dt p{
  margin-bottom: 0 !important;
}

dl.information-menu-list dl:nth-child(1){
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  dl.information-menu-list{
    margin-top: 15px;
　　}

  dl.information-menu-list dt,
  dl.information-menu-list dd{
    display: block;
    width: 100%;
  }

  dl.information-menu-list dt p{
      margin-bottom: 5px !important;
  }

  dl.information-menu-list dd{
    padding-left: 20px;
  }
}


/*admitted 教育研究上の情報 2016*/
.no-li-indent{
  list-style:none;
}
