@charset "UTF-8";

/*
  NEWS
--------------------------------------------- */
/* article-detail-title */
.article-detail-title {
  margin-bottom: 5px;
  font-size: 26px;
}

@media screen and (max-width: 767px) {
  .article-detail-title {
    font-size: 20px;
  }
}

/* article-detail-head */
.article-detail-head {
  margin-bottom: 15px;
}

/* article-detail-tags */
.article-detail-tags li {
  display: inline-block;
}

/* article-main */
@media screen and (min-width: 768px) {
  .article-main img {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .article-main img {
    width: 100%;
  }
}
