<!-- [ global-footer ] -->
<footer id="global-footer">

<div class="gft-sitemap">
<div class="gft-sitemap-container">
<div class="gft-sitemap-column">
<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/univ/about/">大学紹介</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/univ/about/message/">学長メッセージ</a></li>
<li><a href="/univ/about/philosophy/">理念・建学の精神</a></li>
<li><a href="/univ/about/feature/">特色</a></li>
<li><a href="/univ/about/history/">跡見学園女子大学の沿革</a></li>
<li><a href="/univ/about/basic/">大学基本情報</a></li>
<li><a href="/univ/about/effort/">大学の取り組み</a></li>
<li><a href="/univ/about/campus/">施設・設備・アクセス</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/univ/faculty/">学部・大学院</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/univ/faculty/feature/">全学共通科目</a></li>
<li><a href="/univ/faculty/literature/">文学部</a></li>
<li><a href="/univ/faculty/management/">マネジメント学部</a></li>
<li><a href="/univ/faculty/tourist_community/">観光コミュニティ学部</a></li>
<li><a href="/univ/faculty/graduate_school/">大学院・研究科</a></li>
<li><a href="/univ/faculty/professor/">教員紹介/研究実績</a></li>
<li><a href="/univ/faculty/zemi/" target="_blank">ゼミ紹介サイト</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/univ/life/">学生生活</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/univ/life/schedule/">年間スケジュール</a></li>
<li><a href="/univ/life/study/">履修/授業時間/単位等</a></li>
<li><a href="/univ/life/qualification_support/">資格取得支援</a></li>
<li><a href="/univ/life/activity/">課外活動</a></li>
<li><a href="/univ/life/supports/">生活サポート</a></li>
<li><a href="/univ/life/office/">事務手続き・窓口案内</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/univ/career/">就職・キャリア</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/univ/career/support/">就職支援サービス</a></li>
<li><a href="/univ/career/career_navi/">求人情報検索「求人NAVI」</a></li>
<li><a href="/univ/career/internship/">インターンシップ</a></li>
<li><a href="/univ/career/service/">就職課の案内・支援サービスについて</a></li>
<li><a href="/univ/career/data/">就職状況/就職先データ</a></li>
<li><a href="/univ/career/hire/">採用ご担当の皆様へ</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/univ/admission/">入試・入学案内</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/univ/admission/university/">大学入学試験概要</a></li>
<li><a href="/univ/admission/graduate_school/">大学院入学試験概要</a></li>
<li><a href="/univ/admission/navi/">入試・入学ナビ</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="dummy">情報公開</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/univ/about/information/admitted.html">教育研究上の情報</a></li>
<li><a href="/univ/about/information/number_of_students.html">修学上の情報等</a></li>
<li><a href="/univ/about/information/policy.html">3つのポリシー</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title">関連施設</div>
<ul class="gft-sitemap-link-list">
<li><a href="/univ/library/" target="_blank">図書館<span class="link-external-inline"></span></a></li>
<li><a href="/univ/museum/" target="_blank">花蹊記念資料館<span class="link-external-inline"></span></a></li>
<li><a href="/univ/shinri/" target="_blank">心理学教育相談所<span class="link-external-inline"></span></a></li>
<li><a href="dummy" target="_blank">旧伊勢屋質店（菊坂跡見塾）<span class="link-external-inline"></span></a></li>
<li><a href="/univ/about/campus/mediacenter.html" target="_blank">情報メディアセンター<span class="link-external-inline"></span></a></li>
<li><a href="http://atdailib2.atomi.ac.jp/repo/repository/hyakunin/" target="_blank">百人一首コレクション<span class="link-external-inline"></span></a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="dummy">English</a></div>
</div><!-- /.gft-sitemap-column-item -->
</div><!-- /.gft-sitemap-column -->

<ul class="gft-nav-utility-02">
<li><a href="dummy">お知らせ</a></li>
<li><a href="dummy">イベント・講演会</a></li>
<li><a href="dummy">学生・教員の活動</a></li>
<li><a href="dummy">プレスリリース</a></li>
</ul>

<ul class="gft-nav-utility-03">
<li><a href="/univ/about/campus/access.html"><img src="/univ/resources/img/common/icon_01.png" width="30" height="40" alt="アクセス">アクセス</a></li>
<li><a href="/univ/about/campus/bus/"><img src="/univ/resources/img/common/icon_02.png" width="34" height="40" alt="バスダイヤ">バスダイヤ</a></li>
<li><a href="/univ/inquiry/"><img src="/univ/resources/img/common/icon_03.png" width="24" height="40" alt="お問い合わせ">お問い合わせ</a></li>
<li><a href="/univ/request/"><img src="/univ/resources/img/common/icon_04.png" width="36" height="40" alt="資料請求・願書">資料請求・願書</a></li>
</ul>
</div><!-- /.gft-sitemap-container -->
</div><!-- /.gft-sitemap -->

<div class="gft-utility">
<div class="gft-utility-container">
<ul class="gft-nav-utility-01">
<li><a href="/univ/about/campus/access.html">アクセス</a></li>
<li><a href="/univ/about/campus/bus/">バスダイヤ</a></li>
<li><a href="/univ/">大学トップへ</a></li>
<li><a href="/univ/inquiry/">お問い合わせ</a></li>
<li class="nav-full"><a href="/univ/request/">資料請求・願書</a></li>
</ul>

<div class="gft-column">
<div class="column-item gft-logo">
<a href="/univ/"><img src="/univ/resources/img/common/logo_01.png" alt="跡見学園女子大学"></a>
</div><!-- /.column-item -->

<div class="column-item gft-campus">
<img src="/univ/resources/img/common/img_05.jpg" alt="跡見学園女子大学 文京キャンパス">
<div class="campus-text">
<em>文京キャンパス</em>
〒112-8687　<br class="hidden-lgview">東京都文京区大塚1-5-2<br>
03-3941-7420
</div><!-- /.campus-text -->
</div><!-- /.column-item -->

<div class="column-item gft-campus">
<img src="/univ/resources/img/common/img_06.jpg" alt="跡見学園女子大学 新座キャンパス">
<div class="campus-text">
<em>新座キャンパス</em>
〒352-8501　<br class="hidden-lgview">埼玉県新座市中野1-9-6<br>
048-478-3333
</div><!-- /.campus-text -->
</div><!-- /.column-item -->
</div><!-- /.gft-column -->

<ul class="gft-nav-utility-02">
<li><a href="/" target="_blank">学校法人　跡見学園<span class="link-external-inline"></span></a></li>
<li><a href="/jh/" target="_blank">跡見学園中学校高等学校<span class="link-external-inline"></span></a></li>
<li><a href="/univ/privacy/">プライバシーポリシー</a></li>
<li><a href="/univ/policy/">このサイトについて</a></li>
</ul>

<small class="gft-copy">ATOMI UNIVERSITY All right reserved.<br class="hidden-lgview">Never reporoduce or republicate without written permission.</small>

<div class="gft-page-top"><a href="#global-header">TOP</a></div>
</div><!-- /.gft-utility-container -->
</div><!-- /.gft-utility -->
</footer>
<!-- / [ global-footer ] -->
