<!-- [ global-header ] -->
<header id="global-header">
<div class="ghd-logo">
<a href="/univ/">
<img src="/univ/resources/img/common/logo_02.png" width="208" height="120" alt="跡見学園女子大学" class="hidden-smview">
<img src="/univ/resources/img/common/logo_03.png" width="193" height="39" alt="跡見学園女子大学" class="hidden-lgview">
</a>
</div><!-- /.ghd-logo -->

<div class="ghd-menu-btn">
<a href="#">MENU</a>
</div><!-- /.ghd-menu-btn -->

<div class="ghd-container-01">

<div class="ghd-nav-container">
<ul class="ghd-nav-utility hidden-smview">
<li><a href="/univ/about/campus/access.html">アクセス</a></li>
<li><a href="/univ/about/campus/bus/">バスダイヤ</a></li>
<li><a href="dummy">関連施設</a></li>
<li><a href="/univ/faq/">よくある質問</a></li>
<li><a href="/univ/sitemap/">サイトマップ</a></li>
<li><a href="dummy">English</a></li>
</ul>

<ul class="ghd-nav-inquiry hidden-smview">
<li><a href="/univ/inquiry/">お問い合わせ</a></li>
<li><a href="/univ/request/">資料請求・願書</a></li>
</ul>
</div><!-- /.ghd-nav-container -->

<ul class="ghd-nav-target hidden-smview">
<li><a href="dummy">受験生・保護者</a></li>
<li><a href="dummy">地域・企業</a></li>
<li><a href="dummy">在校生・保護者</a></li>
<li><a href="dummy">卒業生</a></li>
<li><a href="dummy">採用志望者</a></li>
<li><a href="dummy">教職員</a></li>
</ul>

<div class="ghd-container-02">
<nav class="ghd-nav-global">
<ul>
<li class="ghd-nav-about"><a href="#" class="directory-second has-child">大学紹介</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/univ/about/">大学紹介<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_01.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/univ/about/message/"><span>学長メッセージ</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_02.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/univ/about/philosophy/"><span>理念・建学の精神</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_03.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/univ/about/history/" class="directory-third has-child"><span>跡見学園女子大学の沿革</span></a></div>
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/about/history/">跡見学園女子大学の沿革ページ</a></li>
<li><a href="/univ/about/history/junior.html">跡見学園女子大学短期大学部の沿革</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_04.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/univ/about/feature/"><span>特色</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-3">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/about/basic/" class="directory-third has-child"><span>大学基本情報</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/about/basic/">大学基本情報ページ</a></li>
<li><a href="/univ/about/basic/organization_education.html">組織構成</a></li>
<li><a href="/univ/about/basic/regulation.html">学則</a></li>
<li><a href="/univ/about/basic/univ-report.html">学報</a></li>
<li><a href="/univ/about/basic/pamphlet.html">大学案内パンフレット</a></li>
<li><a href="/univ/about/basic/visual_identity.html">校歌・校章・シンボルマーク</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/about/effort/" class="directory-third has-child"><span>大学の取り組み</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/about/effort/"><span>大学の取り組みページ</span></a></li>
<li><a href="/univ/about/effort/accreditation.html">評価に関する取り組み</a></li>
<li><a href="/univ/about/effort/compliance.html">コンプライアンスに関する取り組み</a></li>
<li><a href="/univ/about/effort/reorganization.html">学部・大学院の改組等</a></li>
<li><a href="/univ/about/effort/extension/">公開講座・講演会等</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/about/campus/" class="directory-third has-child"><span>施設・設備・アクセス</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/about/campus/">施設・設備・アクセスページ</a></li>
<li><a href="/univ/about/campus/bunkyo.html">文京キャンパス</a></li>
<li><a href="/univ/about/campus/niiza.html">新座キャンパス</a></li>
<li><a href="/univ/about/campus/access.html">交通アクセス</a></li>
<li><a href="/univ/about/campus/bus/">新座キャンパスバスダイヤ</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li class="ghd-nav-faculty"><a href="#" class="directory-second has-child">学部・大学院</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/univ/faculty/">学部・大学院<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_05.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/univ/faculty/feature/"><span>全学共通科目</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-3">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/faculty/literature/" class="directory-third has-child"><span>文学部</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_06.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/univ/faculty/literature/">文学部ページ</a></li>
<li><a href="/univ/faculty/literature/humanities.html">人文学科</a></li>
<li><a href="/univ/faculty/literature/popularculture.html">現代文化表現学科</a></li>
<li><a href="/univ/faculty/literature/communication.html">コミュニケーション<br>文化学科</a></li>
<li><a href="/univ/faculty/literature/psychology.html">臨床心理学科</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/faculty/management/" class="directory-third has-child"><span>マネジメント学部</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_07.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/univ/faculty/management/">マネジメント学部ページ</a></li>
<li><a href="/univ/faculty/management/management.html">マネジメント学科</a></li>
<li><a href="/univ/faculty/management/life_environment.html">生活環境<br>マネジメント学科</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/faculty/tourist_community/" class="directory-third has-child"><span>観光コミュニティ学部</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_08.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/univ/faculty/tourist_community/">観光コミュニティ学部ページ</a></li>
<li><a href="/univ/faculty/tourist_community/tourist.html">観光デザイン学科</a></li>
<li><a href="/univ/faculty/tourist_community/community.html">コミュニティ<br>デザイン学科</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-ratio">
<div class="nav-global-box-item ratio-large">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/faculty/graduate_school/" class="directory-third has-child"><span>大学院・研究科</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_09.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/univ/faculty/graduate_school/">大学院・研究科ページ</a></li>
<li><a href="/univ/faculty/graduate_school/humanities.html">人文科学研究科　日本文化専攻〔修士課程〕</a></li>
<li><a href="/univ/faculty/graduate_school/psychology.html">人文科学研究科　臨床心理学専攻〔修士課程〕</a></li>
<li><a href="/univ/faculty/graduate_school/management.html">マネジメント研究科　マネジメント専攻〔修士課程〕</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item ratio-small vertical-middle">
<div class="nav-global-box-content separately-gutter-01">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_10.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/univ/faculty/zemi/" target="_blank"><span>ゼミ紹介サイト</span><span class="link-external-inline icon-red"></span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>教員紹介/研究実績</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title list-inline">
<li><a href="/univ/faculty/professor/">教員紹介/研究実績</a></li>
<li><a href="/univ/faculty/research/research_support.html">研究支援</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li class="ghd-nav-life"><a href="#" class="directory-second has-child">学生生活</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/univ/life/">学生生活<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_11.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/univ/life/schedule/" class="directory-third has-child"><span>年間スケジュール</span></a></div>
<ul class="nav-global-box-page-title list-inline">
<li class="hidden-lgview"><a href="/univ/life/schedule/">年間スケジュールページ</a></li>
<li><a href="/univ/life/schedule/yukari.html">紫祭</a></li>
<li><a href="/univ/resources/pdf/life/study/gakusei_binran.pdf" target="_blank">学生便覧<span class="link-pdf-inline"></span></a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-3">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/life/study/" class="directory-third has-child"><span>履修/授業時間/単位等</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/life/study/">履修/授業時間/単位等ページ</a></li>
<li><a href="/univ/life/study/registration.html">履修登録</a></li>
<li><a href="/univ/life/study/time.html">授業時間</a></li>
<li><a href="/univ/life/study/regular_examination.html">定期試験</a></li>
<li><a href="/univ/life/study/absent.html">授業の出席・欠席について</a></li>
<li><a href="/univ/life/study/no_lectures.html">休講</a></li>
<li><a href="/univ/life/study/credit.html">単位の認定/単位互換制度</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/life/qualification_support/" class="directory-third has-child"><span>資格取得支援</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/life/qualification_support/">資格取得支援ページ</a></li>
<li><a href="/univ/life/qualification_support/license.html">取得可能な資格/免許</a></li>
<li><a href="/univ/life/qualification_support/support.html">目指せる資格/サポート授業</a></li>
<li><a href="/univ/life/qualification_support/tac.html">TAC講師陣の提携授業</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/life/activity/" class="directory-third has-child"><span>課外活動</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/life/activity/">課外活動ページ</a></li>
<li><a href="/univ/life/activity/club/">クラブ・サークル活動</a></li>
<li><a href="/univ/life/activity/studyabroad/">国際交流活動/英会話サロン</a></li>
<li><a href="/univ/life/activity/volunteer.html">地域交流/ボランティア活動</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-ratio">
<div class="nav-global-box-item ratio-large">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/life/supports/" class="directory-third has-child"><span>生活サポート</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_12.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="column-unit column-2">
<div class="column-item">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/univ/life/supports/">生活サポートページ</a></li>
<li><a href="/univ/life/supports/expenses.html">学費</a></li>
<li><a href="/univ/life/supports/scholarship.html">奨学金について</a></li>
<li><a href="/univ/life/supports/dormitory.html">学生寮/賃貸アパート・<br>マンション情報</a></li>
<li><a href="/univ/life/supports/sideline.html">アルバイト情報</a></li>
<li><a href="/univ/life/supports/care.html">保健センター<br>（ヘルスケア・メンタルケア）</a></li>
</ul>
</div><!-- /.column-item -->
<div class="column-item">
<ul class="nav-global-box-page-title gutter-narrow">
<li><a href="/univ/life/supports/co-op.html">大学生協</a></li>
<li><a href="/univ/life/supports/trouble_prevention.html">トラブル防止対策</a></li>
<li><a href="/univ/life/supports/harassment.html">セクシャル・ハラスメント防止</a></li>
<li><a href="/univ/life/supports/disaster_measures.html">防災・緊急時の対応</a></li>
</ul>
</div><!-- /.column-item -->
</div><!-- /.column-unit -->
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item ratio-small">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/life/office/" class="directory-third has-child"><span>事務手続き・窓口案内</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/life/office/">事務手続き・窓口案内ページ</a></li>
<li><a href="/univ/life/office/documents.html">在学生証明書発行</a></li>
<li><a href="/univ/life/office/documents2.html">卒業生証明書発行</a></li>
<li><a href="/univ/life/office/system.html">学生専用システム</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li class="ghd-nav-career"><a href="#" class="directory-second has-child">就職・キャリア</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/univ/career/">就職・キャリア<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_13.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="dummy"><span>本学のキャリア支援の特徴</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/career/support/" class="directory-third has-child"><span>就職支援サービス</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_14.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/univ/career/support/">就職支援サービスページ</a></li>
<li><a href="/univ/career/support/programs.html">キャリア支援プログラム</a></li>
<li><a href="/univ/career/support/schedule.html">ガイダンス・セミナースケジュール</a></li>
<li><a href="/univ/career/support/information.html">情報・資料の収集と提供</a></li>
<li><a href="/univ/career/support/graduated.html">既卒者の就職支援</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/career/career_navi/"><span>求人情報検索「求人NAVI」</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/career/internship/"><span>インターンシップ</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/career/service/"><span>就職課の案内・支援サービスについて</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/career/data/"><span>就職状況/就職先データ</span></a></div>
</div><!--/.nav-global-box-head-->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/career/hire/"><span>採用ご担当の皆さまへ</span></a></div>
</div><!--/.nav-global-box-head-->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li class="ghd-nav-admission"><a href="#" class="directory-second has-child">入試・入学案内</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/univ/admission/">入試・入学案内<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-3">
<div class="nav-global-box-item">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_15.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="http://exam.52school.com/guide/atomi/" target="_blank" class="directory-third has-child"><span>インターネット出願</span><span class="link-external-inline icon-red"></span></a></div>
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="http://exam.52school.com/guide/atomi/" target="_blank">インターネット出願ページ<span class="link-external-inline icon-red"></span></a></li>
<li><a href="dummy" target="_blank">インターネット<br>出願ガイド<span class="link-pdf-inline"></span></a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_16.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="http://exam.52school.com/guide/atomi-pay/" target="_blank"><span>コンビニ検定料支払<br>(紙出願の場合)</span><span class="link-external-inline icon-red"></span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/univ/resources/img/common/megamenu_img_17.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="http://www.atomi.ac.jp/univ/news/detail/291/" target="_blank"><span>Web合格発表</span><span class="link-external-inline icon-red"></span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child nav-unique-univ-admission-university"><span>大学入学試験概要</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li><a href="/univ/admission/university/">入学試験日程・募集定員</a></li>
</ul>

<div class="nav-global-column-5">
<div class="nav-global-column-item">
<div class="nav-global-box-heading-small">推薦入学試験</div>
<ul class="nav-global-box-page-title">
<li><a href="dummy">公募推薦入試</a></li>
<li><a href="dummy">跡見校友子女推薦入試</a></li>
<li><a href="dummy">指定校推薦入試</a></li>
</ul>
</div><!-- /.nav-global-column-item -->

<div class="nav-global-column-item">
<div class="nav-global-box-heading-small">AO入学試験</div>
<ul class="nav-global-box-page-title">
<li><a href="/univ/admission/university/ao_1.html">AO入試</a></li>
<li><a href="/univ/admission/university/ao_3.html">AO入試（英検型）</a></li>
<li><a href="/univ/admission/university/ao_2.html">AO入試（講義型）</a></li>
</ul>
</div><!-- /.nav-global-column-item -->

<div class="nav-global-column-item">
<div class="nav-global-box-heading-small">一般入学試験</div>
<ul class="nav-global-box-page-title">
<li><a href="/univ/admission/university/general_exam_allundergraduate_a.html">一般入試A方式</a></li>
<li><a href="/univ/admission/university/general_exam_allundergraduate_b.html">一般入試B方式</a></li>
<li><a href="/univ/admission/university/general_exam_allundergraduate_d.html">一般入試C方式</a></li>
<li><a href="/univ/admission/university/general_exam_allundergraduate_c.html">大学入試センター試験<br>利用入学試験</a></li>
</ul>
</div><!-- /.nav-global-column-item -->

<div class="nav-global-column-item">
<div class="nav-global-box-heading-small">特別選抜入学試験</div>
<ul class="nav-global-box-page-title">
<li><a href="dummy">帰国生入試</a></li>
<li><a href="dummy">社会人入試</a></li>
</ul>
</div><!-- /.nav-global-column-item -->

<div class="nav-global-column-item">
<div class="nav-global-box-heading-small">編入学・学士入学試験</div>
<ul class="nav-global-box-page-title">
<li><a href="dummy">編入学試験</a></li>
<li><a href="dummy">学士入学試験</a></li>
</ul>
</div>
</div><!-- /.nav-global-column-item -->

<div class="object-inline">
<div class="nav-global-box-heading-small directory-third has-child">入学試験結果</div>
<ul class="nav-global-box-page-title">
<li><a href="/univ/admission/university/result.html">2016年度</a></li>
</ul>
</div><!-- /.object-inline -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>大学院入学試験概要</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="column-unit column-2">
<div class="column-item">
<ul class="nav-global-box-page-title">
<li><a href="/univ/admission/graduate_school/">入学試験日程・募集定員</a></li>
<li><a href="/univ/admission/graduate_school/general_exam_allundergraduate.html">一般入学試験</a></li>
<li><a href="/univ/admission/graduate_school/ao.html">AO入学試験</a></li>
<li><a href="/univ/admission/graduate_school/society_graduate_school.html">社会人入学試験</a></li>
</ul>
</div><!-- /.column-item -->
<div class="column-item">
<div class="nav-global-box-heading-small directory-third has-child">入学試験結果</div>
<ul class="nav-global-box-page-title">
<li><a href="/univ/admission/graduate_school/result.html">2016年度</a></li>
</ul>
</div><!-- /.column-item -->
</div><!-- /.column-unit -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/admission/navi/" class="directory-third has-child"><span>入試・入学ナビ</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="column-unit column-2">
<div class="column-item">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/admission/navi/">入試・入学ナビページ</a></li>
<li><a href="/univ/admission/navi/schedule.html">受験から入学までの流れ</a></li>
<li><a href="/univ/admission/navi/calender.html">入試カレンダー</a></li>
<li><a href="/univ/admission/navi/open_campus/">オープンキャンパス</a></li>
<li><a href="/univ/admission/navi/open_campus/mogi.html">体験授業</a></li>
</ul>
</div><!-- /.column-item -->
<div class="column-item">
<ul class="nav-global-box-page-title">
<li><a href="/univ/admission/navi/tour/">大学見学</a></li>
<li><a href="/univ/admission/navi/consultation.html">進学相談会</a></li>
<li><a href="/univ/admission/navi/message.html">在学生からのメッセージ</a></li>
</ul>
</div><!-- /.column-item -->
</div><!-- /.column-unit -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li><a href="#" class="directory-second has-child">情報公開</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="dummy">情報公開<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="object-inline">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>教員研究組織</span></div>
<ul class="nav-global-box-page-title">
<li><a href="/univ/about/basic/organization_education.html">学部・学科、研究科・専攻構成</a></li>
</ul>
</div><!-- /.object-inline -->
</div><!--/.nav-global-box-head-->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>教育研究上の目的</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li><a href="/univ/about/philosophy/">大学の理念・目的</a></li>
<li><a href="/univ/about/information/policy.html">3つのポリシー</a></li>
<li><a href="/univ/faculty/">各学部学科名称・教育目的</a></li>
<li><a href="/univ/about/basic/regulation.html">学則</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>教育課程</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li><a href="/univ/about/information/number_of_students.html">成績評価・卒業認定基準</a></li>
<li><a href="https://unipa-web.atomi.ac.jp/up/faces/login/Com00501B.jsp" target="_blank">電子シラバス<span class="link-external-inline icon-red"></span></a></li>
<li><a href="/univ/faculty/feature/">全学共通科目（カリキュラム・主要科目の特徴）</a></li>
<li><a href="/univ/faculty/">各学科（履修モデル、主要科目の特徴）</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/about/information/number_of_staff.html" class="directory-third has-child"><span>教育研究上の基礎的な情報</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/about/information/number_of_staff.html">教育研究上の基礎的な情報ページ</a></li>
<li><a href="/univ/faculty/professor/">教員紹介・業績</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/about/information/admitted/" class="directory-third has-child"><span>教育研究上の情報</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/univ/about/information/admitted/">教育研究上の情報ページ</a></li>
<li><a href="/univ/about/information/policy.html">アドミッションポリシー</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/univ/about/information/number_of_students.html"><span>修学上の情報等</span></a></div>
</div><!--/.nav-global-box-head-->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/information/business/" target="_blank"><span>財務情報</span><span class="link-external-inline icon-red"></span></a></div>
</div><!--/.nav-global-box-head-->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>学生支援</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title list-inline">
<li><a href="/univ/career/">就学・進路</a></li>
<li><a href="/univ/life/supports/">健康支援</a></li>
<li><a href="/univ/life/supports/scholarship.html">奨学金</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>学生納付金（入学金・学費）等</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li><a href="/univ/life/supports/expenses.html">学費</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>キャンパス/教育施設</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="column-unit column-2">
<div class="column-item">
<ul class="nav-global-box-page-title">
<li><a href="/univ/about/campus/bunkyo.html">文京キャンパス</a></li>
<li><a href="/univ/about/campus/niiza.html">新座キャンパス</a></li>
<li><a href="/univ/library/" target="_blank">図書館<span class="link-external-inline icon-red"></span></a></li>
</ul>
</div><!-- /.column-item -->

<div class="column-item">
<ul class="nav-global-box-page-title">
<li><a href="/univ/museum/" target="_blank">花蹊記念資料館<span class="link-external-inline icon-red"></span></a></li>
<li><a href="/univ/shinri/" target="_blank">心理教育相談所<span class="link-external-inline icon-red"></span></a></li>
</ul>
</div><!-- /.column-item -->
</div><!-- /.column-unit -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>国際交流・地域交流</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<ul class="nav-global-box-page-title">
<li><a href="/univ/life/activity/studyabroad/">国際交流</a></li>
<li><a href="/univ/life/activity/volunteer.html">地域交流</a></li>
</ul>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>
</ul>
</nav>

<ul class="ghd-nav-target hidden-lgview">
<li><a href="dummy">受験生・保護者</a></li>
<li><a href="dummy">地域・企業</a></li>
<li><a href="dummy">在校生・保護者</a></li>
<li><a href="dummy">卒業生</a></li>
<li><a href="dummy">採用志望者</a></li>
<li><a href="dummy">教職員</a></li>
</ul>

<ul class="ghd-nav-inquiry hidden-lgview">
<li><a href="/univ/inquiry/">お問い合わせ</a></li>
<li><a href="/univ/request/">資料請求・願書</a></li>
</ul>

<ul class="ghd-nav-utility hidden-lgview">
<li><a href="/univ/about/campus/access.html">アクセス</a></li>
<li><a href="/univ/about/campus/bus/">バスダイヤ</a></li>
<li><a href="dummy">関連施設</a></li>
<li><a href="/univ/faq/">よくある質問</a></li>
<li><a href="/univ/sitemap/">サイトマップ</a></li>
<li><a href="dummy">English</a></li>
</ul>
</div><!-- /.ghd-container-02 -->
</div><!-- /.ghd-container-01 -->
</header><!-- / [ global-header ] -->
