@charset "UTF-8";
/*
  about
--------------------------------------------- */

/*history 沿革*/
td.about-history-table-flex{
  clear: both;
  overflow: hidden;
}

.about-history-table-text{
  float: left;
  width: 76%;
}

.about-history-table-img{
  float: right;
  width: 20%;
}

.about-history-table-img img{
  width: 100%;
}


@media screen and (max-width: 767px) {
  td.about-history-table-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .about-history-table-text{
  	float: none;
    width: 56%;
    margin-right: auto;
  }

  .about-history-table-img{
  	float: none;
    width: 40%;
  }
}