@charset "UTF-8";
/*
  about
--------------------------------------------- */

/*feature 跡見学園女子大学の特色*/
.about-feature-lead-sub{
  font-weight: normal;
  font-size: 22px;
}


/*history 跡見学園女子大学の沿革*/
td.about-history-table-flex{
  clear: both;
  overflow: hidden;
}

.about-history-table-text{
  float: left;
  width: 76%;
}

.about-history-table-img{
  float: right;
  width: 20%;
}

.about-history-table-img img{
  width: 100%;
}


@media screen and (max-width: 767px) {
  td.about-history-table-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .about-history-table-text{
  	float: none;
    width: 56%;
    margin-right: auto;
  }

  .about-history-table-img{
  	float: none;
    width: 40%;
  }
}


/*effort 公開講座・講演会等*/
.about-extension-contact p.about-extension-text-notes,
.about-extension-contact p.about-extension-text-tel{
  margin-left: 20px;
}

.about-extension-contact p.about-extension-text-notes {
  font-size: 13px ;
  color: #666;
  margin-bottom: 5px !important;
}

.about-extension-contact span{
  margin-left: 15px;
}

.about-extension-table-list dl,
.about-extension-table-list ol{
  margin-bottom: 30px;
}

.about-extension-table-list ul,
.about-extension-table-list ol{
  list-style: none;
}

.about-extension-table-list dt{
  font-weight: bold;
}

.about-extension-table-list dd dl dt,
.about-extension-table-list dd ol li{
  font-weight: normal;
  margin-top: 5px;
}/*<dd>にさらに入れ子になっている<dt>は太字にしない*/


/*cumpus 文京キャンパス、新座キャンパス*/
.about-campus-grade-title{
  display: inline-block;
  padding: 10px 20px;
  background: #fff3f6;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .about-campus-grade-title{
    display: block;
    padding: 5px;
    font-size: 15px;
    text-align: center;
  }
}

.about-campus-access-section dt{
  padding: .25em 0;
  float: left;
  clear: both;
  width: 10%;
  font-weight: bold;
}

.about-campus-access-section dd{
  padding: .25em 0;
  margin-left : 15%;
}

.about-campus-access-section .about-campus-mb0{
  margin-bottom: 0 !important;
 }

@media screen and (max-width: 767px) {
  .about-campus-access-section dt{
    width: 26%;
  }

  .about-campus-access-section dd{
    margin-left : 27%;
  }
}

.about-campus-map-link img,
.about-campus-map-link span{
  display: inline-block;
  margin-bottom: 5px;
}

.about-campus-map-link span{
  min-width: 32%;
}

ul.about-campus-map-link:first-child{
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  ul.about-campus-map-link:first-child{
    margin-bottom: 0;
  }
  .about-campus-map-link span{
    display: inline;
  }
}


/*bus バスダイヤ*/
.about-bus-text-bold,
.about-bus-text-bold th,
.about-bus-text-bold td{
  font-weight: bold;
}

.about-bus-text-color-blue {
  color: #0c00b0;
}

.about-bus-text-color-cyan {
  color: #00a6b5;
}

.about-bus-text-color-green {
  color: #1db000;
}

.about-bus-text-color-red {
  color: #b40828;
}