@charset "UTF-8";
/*
  education
--------------------------------------------- */

/*subject 各教科の紹介*/
.education-subject-art .gutter-box{
	margin-bottom: 0px !important;
}

@media screen and (max-width: 767px) {
  #education-subject-list ul:first-child{
    margin-bottom:0;
  }

  .education-subject-art .gutter-box{
  	margin-bottom: 15px !important;
  }
}