<!-- [ global-footer ] -->
<footer id="global-footer">

<div class="gft-sitemap">
<div class="gft-sitemap-container">
<div class="gft-sitemap-column">
<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/jh/about/">学校紹介</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/jh/about/message/">学校長あいさつ</a></li>
<li><a href="/jh/about/philosophy/">教育理念・教育方針</a></li>
<li><a href="/jh/about/history/">沿革</a></li>
<li><a href="/jh/about/tradition/">伝統</a></li>
<li><a href="/jh/about/visual_identity/badge.html">校章・校歌</a></li>
<li><a href="/jh/about/campus/">施設・設備</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/jh/education/">跡見の学び</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/jh/education/mind/">面倒見の良い教育</a></li>
<li><a href="/jh/education/curriculum/">6年間のカリキュラム</a></li>
<li><a href="/jh/education/7project/">「できない」を「できる」へ</a></li>
<li><a href="/jh/education/sentiment/">「本物」に触れる教育</a></li>
<li><a href="/jh/education/subject/japanese.html">各教科の紹介</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/jh/life/">学校生活</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/jh/life/schedule/">年間行事</a></li>
<li><a href="/jh/life/day/">生徒の一日</a></li>
<li><a href="/jh/life/club/">クラブ活動</a></li>
<li><a href="/jh/life/student_council/">生徒会活動</a></li>
<li><a href="/jh/life/supports/">学校生活サポート</a></li>
<li><a href="/jh/life/area/">生徒の居住地域一覧</a></li>
<li><a href="/jh/life/guardian/">保護者の学校への関わり方</a></li>
<li><a href="dummy">在校生の声</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/jh/course/">進路</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/jh/course/counseling/">進路教育・指導</a></li>
<li><a href="/jh/course/stream/">6年間の流れ</a></li>
<li><a href="/jh/course/recommendation/">指定校推薦枠</a></li>
<li><a href="/jh/course/university/">大学合格実績</a></li>
<li><a href="/jh/course/message/">卒業生からのメッセージ</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/jh/entranceguide/">入試・入学</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/jh/entranceguide/explanation/">学校説明会</a></li>
<li><a href="/jh/entranceguide/outline/">入学試験要項</a></li>
<li><a href="/jh/entranceguide/result/">入学試験結果</a></li>
<li><a href="/jh/entranceguide/entrance/">入学準備について</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/jh/faq/">よくある質問</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/jh/faq/entranceguide/">入試・入学について</a></li>
<li><a href="/jh/faq/life/">学校生活について</a></li>
<li><a href="dummy">入学試験結果</a></li>
<li><a href="dummy">卒業生の証明書発行</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="dummy">English</a></div>
</div><!-- /.gft-sitemap-column-item -->
</div><!-- /.gft-sitemap-column -->

<ul class="gft-nav-utility-02">
<li><a href="dummy">お知らせ</a></li>
<li><a href="dummy">イベント・講演会</a></li>
<li><a href="dummy">クラブ・学生生活</a></li>
<li><a href="dummy">学び</a></li>
</ul>

<ul class="gft-nav-utility-03">
<li><a href="/jh/about/campus/access.html"><img src="/jh/resources/img/common/icon_01.png" width="30" height="40" alt="アクセス">アクセス</a></li>
<li><a href="/jh/inquiry/"><img src="/jh/resources/img/common/icon_02.png" width="24" height="40" alt="お問い合わせ">お問い合わせ</a></li>
<li><a href="/jh/request/"><img src="/jh/resources/img/common/icon_03.png" width="36" height="40" alt="資料請求・願書">資料請求・願書</a></li>
</ul>
</div><!-- /.gft-sitemap-container -->
</div><!-- /.gft-sitemap -->

<div class="gft-utility">
<div class="gft-utility-container">
<ul class="gft-nav-utility-01">
<li><a href="/jh/about/campus/access.html">アクセス</a></li>
<li><a href="/jh/inquiry/">お問い合わせ</a></li>
<li class="nav-full"><a href="/jh/">中学校高等学校サイトトップへ</a></li>
<li class="nav-full"><a href="/jh/request/">資料請求・願書</a></li>
</ul>

<div class="gft-column">
<div class="column-item gft-logo">
<a href="/jh/"><img src="/jh/resources/img/common/logo_01.png" alt="跡見学園中学校高等学校"></a>
</div><!-- /.column-item -->

<div class="column-item gft-campus">
〒112-8629　東京都文京区大塚1-5-9／TEL：03-3941-8167(代表）／入試広報室 TEL：03-3941-9548
</div><!-- /.column-item -->
</div><!-- /.gft-column -->

<ul class="gft-nav-utility-02">
<li><a href="/" target="_blank">学校法人　跡見学園<span class="link-external-inline"></span></a></li>
<li><a href="/univ/" target="_blank">跡見学園女子大学<span class="link-external-inline"></span></a></li>
<li><a href="/jh/privacy/">プライバシーポリシー</a></li>
<li><a href="/jh/policy/">このサイトについて</a></li>
</ul>

<small class="gft-copy">ATOMI HIGH SCHOOL All right reserved.<br class="hidden-lgview">Never reporoduce or republicate without written permission.</small>

<div class="gft-page-top"><a href="#global-header">TOP</a></div>
</div><!-- /.gft-utility-container -->
</div><!-- /.gft-utility -->
</footer>
<!-- / [ global-footer ] -->
