<!-- [ global-header ] -->
<header id="global-header">
<div class="ghd-logo">
<a href="/jh/">
<img src="/jh/resources/img/common/logo_02.png" width="230" height="112" alt="跡見学園中学校高等学校" class="hidden-smview">
<img src="/jh/resources/img/common/logo_03.png" width="251" height="39" alt="跡見学園中学校高等学校" class="hidden-lgview">
</a>
</div><!-- /.ghd-logo -->

<div class="ghd-menu-btn">
<a href="#">MENU</a>
</div><!-- /.ghd-menu-btn -->

<div class="ghd-container-01">

<div class="ghd-nav-container">
<ul class="ghd-nav-utility hidden-smview">
<li><a href="/jh/about/campus/access.html">アクセス</a></li>
<li><a href="dummy">関連施設</a></li>
<li><a href="/jh/faq/">よくある質問</a></li>
<li><a href="/jh/sitemap/">サイトマップ</a></li>
<li><a href="dummy">English</a></li>
</ul>

<ul class="ghd-nav-inquiry hidden-smview">
<li><a href="/jh/inquiry/">お問い合わせ</a></li>
<li><a href="/jh/request/">資料請求・願書</a></li>
</ul>
</div><!-- /.ghd-nav-container -->

<ul class="ghd-nav-target hidden-smview">
<li><a href="dummy">受験生・保護者の方</a></li>
<li><a href="dummy">地域・企業の方</a></li>
<li><a href="dummy">在校生・保護者の方</a></li>
<li><a href="dummy">卒業生の方</a></li>
<li><a href="dummy">採用志望者の方</a></li>
<li><a href="dummy">教職員</a></li>
</ul>

<div class="ghd-container-02">
<nav class="ghd-nav-global">
<ul>
<li class="ghd-nav-about"><a href="/jh/about/">学校紹介</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

学校紹介のメニュー

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>
<li class="ghd-nav-education"><a href="/jh/education/">跡見の学び</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

跡見の学びのメニュー

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>
<li class="ghd-nav-life"><a href="/jh/life/">学校生活</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

学校生活のメニュー

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>
<li class="ghd-nav-course"><a href="/jh/course/">進路</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

進路のメニュー

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>
<li class="ghd-nav-entranceguide"><a href="/jh/entranceguide/">入試・入学</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

入試・入学のメニュー

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>
</ul>
</nav>

<ul class="ghd-nav-target hidden-lgview">
<li><a href="dummy">受験生・保護者の方</a></li>
<li><a href="dummy">地域・企業の方</a></li>
<li><a href="dummy">在校生・保護者の方</a></li>
<li><a href="dummy">卒業生の方</a></li>
<li><a href="dummy">採用志望者の方</a></li>
<li><a href="dummy">教職員</a></li>
</ul>

<ul class="ghd-nav-inquiry hidden-lgview">
<li><a href="/jh/inquiry/">お問い合わせ</a></li>
<li><a href="/jh/request/">資料請求・願書</a></li>
</ul>

<ul class="ghd-nav-utility hidden-lgview">
<li><a href="/jh/about/campus/access.html">アクセス</a></li>
<li><a href="dummy">関連施設</a></li>
<li><a href="/jh/faq/">よくある質問</a></li>
<li><a href="/jh/sitemap/">サイトマップ</a></li>
<li><a href="dummy">English</a></li>
</ul>
</div><!-- /.ghd-container-02 -->
</div><!-- /.ghd-container-01 -->
</header><!-- / [ global-header ] -->
