<meta property="og:type" content="website">
<meta property="og:image" content="/jh/resources/img/common/ogimage.png">
<meta property="og:site_name" content="跡見学園中学校高等学校">
<meta property="og:locale" content="ja_JP">
<meta property="fb:app_id" content="296765127337260">
