@charset "UTF-8";

/*
  gakuen：PR
--------------------------------------------- */
/* for:/pr/magazine/backnumber.html */
@media screen and (max-width: 767px) {
  .pr-magazine-backnumber-list .media-left .image {
    margin-bottom: 30px;
    text-align: center;
  }

  .pr-magazine-backnumber-list .media-left .image img {
    width: 70%;
  }
}
