@charset "UTF-8";

/*
  HOME
--------------------------------------------- */
/* home-main-visual */
.home-main-visual {
  position: relative;
}

.home-main-visual img {
  width: 100%;
}

.home-main-copy {
  position: absolute;
  top: 31%;
  left: 7.5%;
  line-height: 1.8;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .home-main-copy {
    top: 15px;
    left: 15px;
    line-height: 1.6;
    font-size: 14px;
  }
}

.home-main-copy em {
  color: #d80a30;
  font-style: normal;
}

/* home-list-activity */
.home-list-activity {
  font-size: 0;
}

.home-list-activity li {
  display: inline-block;
  width: 33.33%;
}

@media screen and (max-width: 767px) {
  .home-list-activity li {
    display: block;
    width: 100%;
  }
}

.home-list-activity li a {
  position: relative;
  display: block;
  color: #fff;
  font-size: 14px;
}

.home-list-activity li a:hover {
  opacity: .8;
  transition: all 0.4s;
}

.home-list-activity li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 0 solid rgba(255,255,255,0.2);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.2s;
}

.home-list-activity li a:hover:before {
  border-width: 10px;
}

.home-list-activity li img {
  width: 100%;
}

.home-list-activity .home-activity-text {
  position: absolute;
  bottom: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 70px 20px 20px 20px;
  height: 150px;
  overflow: hidden;
  background: url("/resources/img/global/home_bg_01.png") left bottom repeat-x;
}

@media screen and (max-width: 767px) {
  .home-list-activity .home-activity-text {
    padding: 80px 15px 10px 15px;
  }
}

.home-activity-label {
  display: table-cell;
  width: 25%;
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 1.3;
}

.home-activity-title {
  display: table-cell;
  padding-left: 20px;
  width: 75%;
}

/* home-section */
@media screen and (min-width: 1280px) {
  .home-section {
    /*padding-left:13%;*/
    /*padding-right: 13%;*/
  }
}

.home-section-item {
  margin: 0 auto;
  padding: 35px 0 50px 0;
  width: 980px;
}

@media screen and (max-width: 1280px) {
  .home-section-item {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .home-section-item {
    padding: 25px 15px;
    width: 100%;
  }
}

.home-section-title {
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.4;
  font-size: 28px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .home-section-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.home-section-title small {
  display: block;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .home-section-title small {
    font-size: 10px;
  }
}

/* home-box-sns */
.home-box-sns {
  font-size: 0;
}

.home-box-sns-item {
  display: inline-block;
  margin: 0 1% 1% 0;
  padding: 15px 28px;
  width: 49.5%;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .home-box-sns-item {
    display: block;
    margin: 0 0 3% 0;
    padding: 0;
    width: 100%;
    border: 1px solid #eeede4;
  }
}

.home-box-sns-item:nth-child(even) {
  margin-right: 0;
}

.home-box-sns-thumbnail {
  display: inline-block;
  margin-right: 20px;
  width: 17%;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .home-box-sns-thumbnail {
    display: none;
  }
}

.home-box-sns-thumbnail img {
  width: 100%;
}

.home-box-sns-text {
  display: inline-block;
  width: calc(100% - 17% - 20px);
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .home-box-sns-text {
    width: 100%;
  }
}

.home-box-sns-title {
  margin-bottom: 7px;
  line-height: 1;
  font-size: 14px;
  background-position: 18px 10px;
  background-repeat: no-repeat;
  background-size: 59px 32px;
}

#item-instagram .home-box-sns-title {
  background-image: url("/resources/img/global/icon_05.png");
}

#item-youtube .home-box-sns-title {
  background-image: url("/resources/img/global/icon_06.png");
}

#item-twitter .home-box-sns-title {
  background-image: url("/resources/img/global/icon_07.png");
}

#item-facebook .home-box-sns-title {
  background-image: url("/resources/img/global/icon_08.png");
}

.home-box-sns-title a {
  position: relative;
  display: block;
  padding: 18px 18px 18px 85px;
  width: 100%;
}

.home-box-sns-title a:before {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -10px;
  width: initial;
  border-right: none;
  color: #000;
  font-size: 14px;
  content: "\f067";
  text-decoration: none;
  font-family: "FontAwesome";
}

.home-box-sns-title a.active:before {
  content: "\f068";
}

@media screen and (min-width: 768px) {
  .home-box-sns-title {
    display: none;
  }

  .home-box-sns-text .link-chevron-right-list {
    margin-bottom: 0;
    font-size: 16px;
  }

  .home-box-sns-text .link-chevron-right-list li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .home-box-sns-text .link-chevron-right-list {
    margin-bottom: 0;
    padding: 0 35px;
    font-size: 11px;
  }

  .home-box-sns-text .link-chevron-right-list li {
    margin-bottom: 15px;
  }
}

.home-box-sns-text .link-chevron-right-list li a:before {
  top: -2px;
  font-size: 11px;
}

@media screen and (max-width: 767px) {
  .home-box-sns-text .link-chevron-right-list li a:before {
    top: 0;
  }
}

/* each ID */
.univ #home-section-event,
.univ #home-section-press {
  background: url("/univ/resources/img/home/bg_03.png") 0 0 repeat;
  background-size: 75px 75px;
}

.univ #home-section-activity,
.univ #home-section-sns,
.univ #home-section-campus {
  background: url("/univ/resources/img/home/bg_02.png") 0 0 repeat;
}

.jh #home-section-event {
  background: url("/jh/resources/img/home/bg_02.png") 0 0 repeat;
}

.jh #home-section-activity {
  background: url("/jh/resources/img/home/bg_03.png") 0 0 repeat;
}

.jh #home-section-learn {
  background: url("/jh/resources/img/home/bg_04.png") 0 0 repeat;
}

.jh #home-section-sns {
  background: url("/jh/resources/img/home/bg_05.png") 0 0 repeat;
}

@media screen and (min-width: 768px) {
  .jh #home-section-sns .home-section-item {
    padding-bottom: 100px;
  }
}

#home-section-campus .home-section-item {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  #home-section-campus .home-section-item {
    padding-bottom: 80px;
  }
}

#home-section-campus .home-section-title {
  padding-top: 35px;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
  #home-section-campus .link-box-3 .link-box-thumbnail {
    display: none;
  }

  #home-section-campus .link-box-3 .link-box-text {
    width: 100%;
  }
}

/* common override:global-header */
@media screen and (min-width: 768px) {
  .ghd-nav-global > ul > li > a {
    background: rgba(255,255,255,0.8) !important;
  }
}

/* common override:main-content */
#main-content {
  top: -80px;
  margin-bottom: -80px;
  padding-bottom: 0;
  border-top: none;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  #main-content {
    top: 0;
    margin-bottom: 0;
  }
}

/* module override:block-prospect */
.block-prospect {
  padding: 30px 0;
}

.univ .block-prospect {
  background: url("/univ/resources/img/home/bg_01.png") 0 0 repeat;
}

.jh .block-prospect {
  background: url("/jh/resources/img/home/bg_01.png") 0 0 repeat;
}

@media screen and (max-width: 767px) {
  .block-prospect {
    padding: 15px;
  }
}

/* module override:block-information */
.block-information-title {
  font-weight: normal;
}

.block-information-list span {
  color: #666;
}

@media screen and (max-width: 767px) {
  .block-information {
    margin-bottom: 20px !important;
  }
  .block-information-title {
    margin-bottom: 10px;
    text-align: center;
  }

  .block-information-btn {
    bottom: 25px;
  }

  .block-information-list {
    margin-bottom: 70px;
  }
}

/* module override:link-box */
#home-section-campus .link-box-small-text {
  margin-top: 0;
  margin-bottom: 0;
}

#home-section-campus .link-box-title {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #home-section-campus .link-box-title {
    font-size: 14px;
  }
}
