@charset "UTF-8";

/*
  HOME
--------------------------------------------- */
/* home-main-visual */
.home-main-visual {
  margin: 0 auto;
  text-align: center;
}

.home-main-visual img {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .home-main-visual img {
    width: 1280px;
  }
}

/* home-section */
.home-section {
  padding: 70px 0;
}

@media screen and (max-width: 767px) {
  .home-section {
    padding: 50px 0;
  }
}

/* home-section-item */
.home-section-item {
  margin: 0 auto;
  width: 980px;
}

@media screen and (max-width: 1280px) {
  .home-section-item {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .home-section-item {
    width: 100%;
  }
}

/* home-section-title */
.home-section-title {
  text-align: center;
  line-height: 1.4;
  font-size: 26px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .home-section-title {
    margin-bottom: 40px;
    font-size: 28px;
  }
}

.home-section-title small {
  display: block;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .home-section-title small {
    font-size: 13px;
  }
}

/* home-section-activity */
#home-section-activity {
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  #home-section-activity {
    padding-right: 15px;
    padding-left: 15px;
  }
}

#home-section-activity .home-section-title {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  #home-section-activity .home-section-title {
    margin-bottom: 30px;
  }
}

.home-section-logo-title {
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .home-section-logo-title {
    margin-bottom: 17px;
  }
}

.logo-title-jh {
  padding-top: 50px;
  border-top: 1px solid #dcdcdc;
}

.logo-title-univ img {
  width: 184px;
}

.logo-title-jh img {
  width: 246px;
}

@media screen and (max-width: 767px) {
  .logo-title-jh {
    padding-top: 30px;
  }

  .logo-title-univ img {
    width: 191px;
  }

  .logo-title-jh img {
    width: 248px;
  }
}

.btn-relative-site {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .btn-relative-site {
    margin-bottom: 50px;
  }
}

.btn-relative-site a {
  display: block;
  padding: 20px 0;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  background: #f4f4f4;
}

@media screen and (max-width: 767px) {
  .btn-relative-site a {
    font-size: 13px;
  }
}

.btn-relative-site a:before {
  position: relative;
  top: -2px;
  left: 0;
  display: inline-block;
  margin-right: 12px;
  color: #d80a30;
  content: "\f054";
  text-decoration: none;
  font-size: 13px;
  font-family: "FontAwesome";
}

@media screen and (max-width: 767px) {
  .btn-relative-site a:before {
    top: -1px;
    margin-right: 7px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .btn-relative-site a:hover {
    background: #ececec;
    transition: all 0.4s;
  }
}

.btn-relative-site a:hover,
.btn-relative-site a:hover:before {
  text-decoration: none;
}

/* home-section-news */
#home-section-news {
  border-top: 1px solid #dcdcdc;
}

#home-section-news .home-section-item {
  width: 100%;
}

#home-section-news .home-section-title {
  margin-bottom: 30px;
}

#home-section-news .tab-menu {
  margin: 0 auto;
  width: 980px;
}

@media screen and (max-width: 1280px) {
  #home-section-news .tab-menu {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  #home-section-news .tab-menu {
    margin: 0 15px;
    width: calc(100% - 30px);
  }
}

#home-section-news .tab-menu li {
  margin-right: 0;
  width: 50%;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #c9c9c9;
  border-left: 1px solid #fff;
  color: #222;
  background: #f4f4f4;
}

#home-section-news .tab-menu li.js-show {
  border-top: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #c9c9c9;
  background: #fff;
}

@media screen and (min-width: 768px) {
  #home-section-news .tab-menu li:hover {
    border-top: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #c9c9c9;
    background: #fff;
  }
}

#home-section-news .tab-menu li span {
  padding: 20px 7px;
}

@media screen and (max-width: 767px) {
  #home-section-news .tab-menu li span {
    padding: 15px 7px;
  }
}

#home-section-news .tab-contents {
  margin-top: -1px;
  border-top: 1px solid #c9c9c9;
}

#home-section-news .tab-contents-container {
  margin: 0 auto;
  width: 980px;
}

@media screen and (max-width: 1280px) {
  #home-section-news .tab-contents-container {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  #home-section-news .tab-contents-container {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
}

.news-btn {
  margin: 40px auto 0 auto;
  width: 980px;
  text-align: center;
}

.news-btn .btn-base {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .news-btn {
    margin: 20px 15px 0 15px;
    width: calc(100% - 30px);
  }

  .news-btn .btn-base {
    width: 100%;
  }
}

/* home-section-progress */
#home-section-progress {
  background: #f5f0e5;
}

@media screen and (max-width: 767px) {
  #home-section-progress {
    padding: 30px 15px;
  }
}

.progress-link-list {
  text-align: center;
  font-size: 0;
}

.progress-link-list li {
  display: inline-block;
  margin-right: 90px;
  text-align: center;
  vertical-align: top;
  list-style: none;
}

.progress-link-list li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .progress-link-list li {
    margin-right: 15px;
    width: calc((100% - 30px) / 3);
  }
}

.progress-link-list a {
  display: block;
}

.progress-link-list a:hover {
  text-decoration: none;
}

.progress-link-list img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .progress-link-list img {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .progress-link-list a:hover img {
    opacity: .7;
    transition: all 0.4s;
  }

  .progress-link-list a:hover div {
    opacity: .7;
    transition: all 0.4s;
  }
}

.progress-link-title {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}

.progress-link-title:before {
  position: relative;
  top: -2px;
  left: 0;
  display: inline-block;
  margin-right: 12px;
  color: #d80a30;
  content: "\f054";
  text-decoration: none;
  font-size: 13px;
  font-family: "FontAwesome";
}

@media screen and (max-width: 767px) {
  .progress-link-title {
    margin-top: 15px;
    font-size: 13px;
    font-weight: normal;
  }

  .progress-link-title:before {
    margin-right: 5px;
    font-size: 10px;
  }
}

/* home-section-disclosure */
#home-section-disclosure .home-section-title {
  margin-bottom: 60px;
}

#home-section-disclosure .disclosure-detail-text {
  margin: 0 auto 40px auto;
  width: 700px;
  text-align: center;
  font-size: 16px;
}

#home-section-disclosure .link-chevron-right-list {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #home-section-disclosure {
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
  }

  #home-section-disclosure .home-section-title {
    margin-bottom: 40px;
  }

  #home-section-disclosure .disclosure-detail-text {
    margin-bottom: 40px;
    width: 100%;
    font-size: 14px;
  }

  #home-section-disclosure .link-chevron-right-list {
    font-size: 14px;
  }

  #home-section-disclosure .link-chevron-right-list li {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 40px;
  }

  #home-section-disclosure .link-chevron-right-list li:last-child {
    margin-bottom: 0;
  }
}

/* home-section-relative */
#home-section-relative {
  border-top: 1px solid #dcdcdc;
}

@media screen and (max-width: 767px) {
  #home-section-relative {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.relative-link-lgview {
  margin: 0 20px;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .relative-link-lgview {
    display: none;
  }
}

.relative-link-lgview li {
  display: inline-block;
  margin-right: 20px;
  width: calc((100% - 40px) / 3);
  list-style: none;
}

.relative-link-lgview li a {
  display: block;
}

.relative-link-lgview li:last-child {
  margin-right: 0;
}

.relative-link-lgview li a:hover img {
  opacity: .8;
  transition: all .5s;
}

.relative-link-lgview li img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .relative-link-smview {
    display: none;
  }
}

.relative-link-smview li {
  display: block;
  margin-bottom: 25px;
  list-style: none;
}

.relative-link-smview li:last-child {
  margin-bottom: 0;
}

.relative-link-smview li img {
  width: 100%;
}

/* module override:link-box */
.link-box {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .link-box {
    margin-bottom: 10px;
  }
}

.link-box-3 .link-box-item {
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc((100% - 40px) / 3 );
}

@media screen and (max-width: 767px) {
  .link-box-3 .link-box-item {
    margin-right: 0;
    width: 100%;
  }
}

.link-box-3 .link-box-item:nth-child(3n) {
  margin-right: 0;
}

.link-box-3 .link-box-item a {
  padding: 0 0 20px 0;
  background: #f4f4f4;
}

.link-box-3 .link-box-thumbnail {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.link-box-3 .link-box-text {
  display: block;
  width: 100%;
}

.link-box-tag {
  margin-left: 20px;
}

.link-box-small-text {
  margin-left: 20px;
  color: #9a9a9a;
}

@media screen and (max-width: 767px) {
  .link-box-small-text {
    font-size: 13px;
  }
}

.link-box-title {
  margin-right: 20px;
  margin-left: 20px;
}

/* module override:news-list */
.news-list li {
  margin-bottom: 10px;
  border: none;
}

.news-list li:last-child {
  margin-bottom: 0;
}

.news-list li a {
  padding: 10px;
}

.news-list .news-date {
  color: #666;
}

.news-list li .icon {
  background: #e14b68;
}

.news-list em {
  padding-left: 0;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .news-list em {
    font-size: 14px;
  }
}

.news-list em:before {
  content: '';
}
