@charset "UTF-8";

/*
  jh：ENTRANCE GUIDE
--------------------------------------------- */
/* for:/jh/entranceguide/result/ */
@media screen and (min-width: 768px) {
  .entranceguide-result-btn {
    margin-top: 50px;
  }
}
