@charset "UTF-8";

/*
  MAIN:general
--------------------------------------------- */
body {
  margin: 0 auto;
  color: #000;
  font-size: 14px;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-wrap: break-word;
  line-break: strict;
  vertical-align: top;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type=submit] {
  cursor: pointer;
}

@-ms-viewport {
  width: auto !important;
}


/*
  main-content
----------------------------------*/
#main-content {
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  border-top: 2px solid #bab9ab;
}

@media screen and (min-width: 768px) {
  #main-content {
    min-width: 980px;
  }
}

@media screen and (max-width: 767px) {
  #main-content {
    margin: 0;
    padding-bottom: 10px;
    width: 100%;
    min-width: initial;
    border-width: 1px;
  }
}

.gakuen #main-content {
  border-top: 1px solid #dcdcdc;
}

@media screen and (max-width: 767px) {
  .gakuen #main-content {
    border: none;
  }
}
