@charset "UTF-8";

/*
  FOOTER
--------------------------------------------- */
/* global-footer */
#global-footer {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #global-footer {
    min-width: 980px;
  }
}

@media screen and (max-width: 767px) {
  #global-footer {
    width: 100%;
  }

  .gakuen #global-footer {
    padding-top: 40px;
    background: #f4f4f4;
  }
}

.prospect #global-footer {
  margin: 0 0 0 260px;
  width: calc(100% - 260px);
}

@media screen and (min-width: 768px) {
  .prospect #global-footer {
    min-width: 980px;
    max-width: 1600px;
  }
}

@media screen and (min-width: 768px) {
  .prospect #global-footer {
    min-width: 720px;
    max-width: 1340px;
  }
}

@media screen and (max-width: 767px) {
  .prospect #global-footer {
    margin: 0;
    width: 100%;
    min-width: initial;
    max-width: initial;
  }
}

/* gft-sitemap */
.gft-sitemap {
  margin-bottom: 40px;
}

.univ .gft-sitemap {
  background: url("/univ/resources/img/common/bg_01.png") 0 0 repeat;
}

.jh .gft-sitemap {
  background: url("/jh/resources/img/common/bg_01.png") 0 0 repeat;
}

.gakuen .gft-sitemap {
  background: #f2f2f2;
}

@media screen and (max-width: 767px) {
  .gft-sitemap {
    margin-bottom: 15px;
  }

  .gakuen .gft-sitemap {
    display: none;
  }
}

.gft-sitemap-container {
  margin: 0 auto;
  padding: 0 0 40px 0;
  width: 980px;
}

@media screen and (max-width: 1280px) {
  .gft-sitemap-container {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .gft-sitemap-container {
    padding: 9px 15px 25px 15px;
    width: 100%;
  }
}

.prospect .gft-sitemap {
  display: none;
}

.gft-sitemap-column {
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .gft-sitemap-column {
    display: none;
  }
}

.gft-sitemap-column-item {
  display: inline-block;
  margin: 35px 2% 0 0;
  width: 23.5%;
  vertical-align: top;
}

.gft-sitemap-column-item:nth-child(4n) {
  margin-right: 0;
}

.gft-sitemap-title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.gft-sitemap-link-list li {
  margin-bottom: 12px;
  list-style: none;
  font-size: 14px;
}

.gft-sitemap-link-list li:last-child {
  margin-bottom: 0;
}

/* gft-utility */
.gft-utility {
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .gft-utility {
    padding-bottom: 30px;
  }
}

.prospect .gft-utility {
  padding: 40px 35px 50px 35px;
}

.jh.prospect .gft-utility {
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .prospect .gft-utility {
    padding: 0 0 30px 0;
  }

  .jh.prospect .gft-utility {
    padding-bottom: 80px;
  }
}

/* gft-utility-container */
.gft-utility-container {
  margin: 0 auto;
  width: 980px;
}

@media screen and (max-width: 1280px) {
  .gft-utility-container {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .gft-utility-container {
    width: 100%;
  }
}

.prospect .gft-utility-container {
  width: 100%;
}

/* gft-column */
.gft-column {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.gft-column .column-item {
  display: table-cell;
  vertical-align: middle;
}

.univ .gft-column .column-item {
  width: 33.33%;
}

.jh .gft-column .column-item.gft-logo {
  width: 35%;
}

.jh .gft-column .column-item.gft-campus {
  width: 62%;
}

.gakuen .gft-column .column-item {
  display: block;
  margin: 0 auto;
  width: 33.33%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .gft-column .column-item {
    display: block;
    width: 100% !important;
  }
}

/* gft-logo */
.gft-logo img {
  width: 100%;
  padding-right: 10px;
}

.univ .gft-logo img {
  max-width: 256px;
}

.jh .gft-logo img {
  max-width: 323px;
}

.gakuen .gft-logo img {
  padding-right: 0;
  width: 255px;
}

@media screen and (max-width: 767px) {
  .gft-logo {
    margin-bottom: 20px;
    padding-top: 0;
    min-width: initial;
    text-align: center;
  }

  .gft-logo img {
    padding-right: 0;
  }

  .univ .gft-logo img {
    width: 189px;
  }

  .jh .gft-logo img {
    width: 243px;
  }

  .gakuen .gft-logo img {
    width: 193px;
  }
}

/* gft-campus */
.gft-campus:before,
.gft-campus:after {
  content: " ";
  display: table;
}

.gft-campus:after {
  clear: both;
}

.jh .gft-campus {
  font-size: 12px;
}

.gakuen .gft-campus {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .gft-campus {
    margin-bottom: 14px;
    padding: 0 15px;
    color: #000;
  }

  .gakuen .gft-campus {
    margin-top: 20px;
    font-size: 12px;
  }
}

.gft-campus img {
  float: left;
  width: 80px;
}

.univ .campus-text {
  float: left;
  padding: 10px 0 0 10px;
  width: calc(100% - 80px);
  font-size: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1230px) {
  .univ .campus-text {
    padding-top: 0;
  }
}

.campus-text em {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .campus-text {
    padding-top: 0 !important;
  }

  .campus-text em {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: normal;
  }
}

/* gft-nav-utility-01 */
.gft-nav-utility-01 {
  display: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .prospect .gft-nav-utility-01 {
    display: block;
  }
}

.gft-nav-utility-01 li {
  display: inline-block;
  width: 50%;
  border-top: 1px solid #d8d8d8;
  background: #f0f0f0;
}

.gft-nav-utility-01 li:nth-child(odd) {
  border-right: 1px solid #d8d8d8;
}

.gft-nav-utility-01 li.nav-full {
  width: 100%;
  border-right: none;
}

.gft-nav-utility-01 a {
  display: block;
  padding-top: 16px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

/* gft-nav-utility-02 */
.gft-nav-utility-02 {
  margin: 30px 0;
  padding: 15px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  font-size: 0;
}

.gakuen .gft-nav-utility-02 {
  margin-top: 45px;
}

@media screen and (max-width: 767px) {
  .gakuen .gft-nav-utility-02 {
    margin-top: 20px;
  }
}

.gft-sitemap .gft-nav-utility-02 {
  margin: 45px 0 40px 0;
  border-color: #bcbbb4;
}

@media screen and (max-width: 767px) {
  .gft-nav-utility-02 {
    margin: 7px 15px 20px 15px;
    padding: 0 0 20px 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: left;
  }

  .gft-sitemap .gft-nav-utility-02 {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.gft-nav-utility-02 li {
  display: inline;
  padding-left: 7px;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .gft-nav-utility-02 li {
    display: inline-block;
    margin-top: 16px;
    margin-right: 2%;
    padding-left: 0;
    width: 49%;
    vertical-align: top;
  }

  .univ .gft-nav-utility-02 li {
    font-size: 12px;
  }

  .gakuen .gft-nav-utility-02 li {
    font-size: 12px;
  }

  .gft-nav-utility-02 li:nth-child(even) {
    margin-right: 0;
  }
}

.gft-nav-utility-02 li:before {
  padding-right: 7px;
  content: "|";
}

@media screen and (max-width: 767px) {
  .gft-nav-utility-02 li:before {
    padding-right: 8px;
  }
}

.gft-nav-utility-02 li:last-child:after {
  padding-left: 6px;
  content: "|";
}

@media screen and (max-width: 767px) {
  .gft-nav-utility-02 li:last-child:after {
    padding-left: 0;
    content: "";
  }
}

.gft-nav-utility-02 li:first-child {
  padding-left: 0;
}

.gft-nav-utility-02 a {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .gft-nav-utility-02 a {
    color: #131313;
  }
}

.gft-nav-utility-02 li a:hover {
  text-decoration: underline;
}

/* gft-nav-utility-03 */
.gft-nav-utility-03 {
  text-align: center;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .gft-nav-utility-03 {
    display: none;
  }
}

.gft-nav-utility-03 li {
  display: inline-block;
  margin-right: 9.2%;
  list-style: none;
  font-size: 14px;
}

.gft-nav-utility-03 li:last-child {
  margin-right: 0;
}

.gft-nav-utility-03 li a {
  display: block;
}

.gft-nav-utility-03 li a:hover img {
  opacity: .5;
  transition: all .4s;
}

.gft-nav-utility-03 li img {
  display: block;
  margin: 0 auto 6px auto;
}

/* gft-copy */
.gft-copy {
  display: block;
  text-align: center;
  color: #999;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .gft-copy {
    padding: 0 15px;
    font-size: 10px;
  }
}

/* gft-page-top */
.gft-page-top {
  position: absolute;
  top: -60px;
  right: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
}

.prospect .gft-page-top {
  top: auto;
  right: 20px;
}

.univ.prospect .gft-page-top {
  bottom: 35px;
}

.jh.prospect .gft-page-top {
  bottom: 105px;
}

@media screen and (max-width: 767px) {
  .gft-page-top {
    position: fixed;
    top: initial;
    right: 20px;
    bottom: 20px;
  }

  .prospect .gft-page-top {
    display: none;
  }
}

.gft-page-top a {
  display: block;
  width: 60px;
  height: 60px;
}

.gft-page-top a:hover {
  transition: all .4s;
}

.univ .gft-page-top a {
  background: url("/univ/resources/img/common/btn_01.png") 0 0 no-repeat;
}

.jh .gft-page-top a {
  background: url("/jh/resources/img/common/btn_01.png") 0 0 no-repeat;
}

.gakuen .gft-page-top a {
  background: url("/resources/img/common/btn_01.png") 0 0 no-repeat;
}

@media screen and (min-width: 768px) {
  .univ .gft-page-top a:hover {
    background: url("/univ/resources/img/common/btn_01_over.png") 0 0 no-repeat;
  }

  .jh .gft-page-top a:hover {
    background: url("/jh/resources/img/common/btn_01_over.png") 0 0 no-repeat;
  }

  .gakuen .gft-page-top a:hover {
    background: url("/resources/img/common/btn_01_over.png") 0 0 no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .gft-page-top a {
    width: 30px;
    height: 30px;
    background-size: 30px 30px !important;
  }

  .gft-page-top a:hover {
    background-size: 30px 30px !important;
  }
}

.prospect .gft-page-top a {
  width: 48px;
  height: 48px;
  background: url("/resources/img/global/prospect_btn_01.png") 0 0 no-repeat;
}

.prospect .gft-page-top a:hover {
  background: url("/resources/img/global/prospect_btn_01.png") 0 0 no-repeat;
  opacity: .8;
  transition: all .4s;
}
