@charset "UTF-8";

/*
  HEADER:GENERAL
--------------------------------------------- */
/* global-header */
#global-header {
  position: relative;
  height: 180px;
  z-index: 10;
}

.gakuen #global-header {
  margin: 0 auto;
  width: 980px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  #global-header {
    min-width: 980px;
  }
}

@media screen and (max-width: 767px) {
  #global-header {
    position: relative;
    margin: 0;
    width: 100%;
    height: 64px;
    min-width: initial;
    max-width: initial;
  }

  .gakuen #global-header {
    width: 100%;
    height: 64px;
  }
}

#global-header:before,
#global-header:after {
  content: " ";
  display: table;
}

#global-header:after {
  clear: both;
}

/* ghd-logo */
.ghd-logo {
  float: left;
  text-align: center;
  vertical-align: middle;
  background: #d80a30;
}

.gakuen .ghd-logo {
  margin: 10px 20px 0 20px;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .ghd-logo {
    position: fixed;
    float: none;
    width: 100%;
    height: 64px;
    z-index: 10;
  }

  .gakuen .ghd-logo {
    margin: 0;
    border-bottom: 1px solid #dcdcdc;
  }
}

.ghd-logo a {
  display: block;
  width: 260px;
  height: 180px;
}

.univ .ghd-logo a {
  padding-top: 30px;
}

.jh .ghd-logo a {
  padding-top: 32px;
}

.gakuen .ghd-logo a {
  width: auto;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .ghd-logo a {
    width: 240px;
  }
}

@media screen and (max-width: 767px) {
  .ghd-logo a {
    height: auto;
  }

  .univ .ghd-logo a {
    margin: 12px 0 0 15px;
    padding-top: 0;
    width: 193px;
  }

  .jh .ghd-logo a {
    margin: 12px 0 0 15px;
    padding-top: 0;
    width: 251px;
  }

  .gakuen .ghd-logo a {
    margin: 12px 0 0 15px;
    width: 195px;
  }
}

@media screen and (max-width: 340px) {
  .jh .ghd-logo a {
    margin: 15px 0 0 15px;
    width: 230px;
  }

  .jh .ghd-logo img {
    width: 230px;
    height: auto;
  }
}

/* ghd-menu-btn */
@media screen and (min-width: 768px) {
  .ghd-menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .ghd-menu-btn {
    display: block;
    position: fixed;
    top: 6px;
    right: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 11;
  }

  .ghd-menu-btn a {
    display: block;
    width: 52px;
    height: 52px;
    background: url("/resources/img/global/btn_01.png") 0 0 no-repeat;
    background-size: 52px 52px;
  }

  .ghd-menu-btn a.active {
    opacity: .8;
  }
}

/* ghd-container-01 */
.ghd-container-01 {
  float: left;
  width: calc(100% - 260px);
  height: 180px;
}

.gakuen .ghd-container-01 {
  width: calc(100% - 232px);
  height: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .ghd-container-01 {
    width: calc(100% - 240px);
  }
}

@media screen and (max-width: 767px) {
  .ghd-container-01 {
    display: none;/* !!!!!!!!!!! JSで表示・非表示切り替え !!!!!!!!!!! */
    float: none;
    width: 100%;
    height: initial;
  }

  .gakuen .ghd-container-01 {
    width: 100%;
    height: auto;
  }
}

.ghd-container-01:before,
.ghd-container-01:after {
  content: " ";
  display: table;
}

.ghd-container-01:after {
  clear: both;
}

/* ghd-nav-container */
.ghd-nav-container {
  margin-bottom: 21px;
  text-align: right;
}

.gakuen .ghd-nav-container {
  float: right;
  margin-right: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .ghd-nav-container {
    margin-bottom: 0;
  }

  .gakuen .ghd-nav-container {
    float: none;
    margin-right: 0;
  }
}

/* ghd-nav-utility */
.ghd-nav-utility {
  display: inline;
  font-size: 0;
}

.ghd-nav-utility li {
  display: inline-block;
  margin-right: 16px;
  list-style: none;
  font-size: 12px;
}

.ghd-nav-utility li:before {
  padding-right: 16px;
  content: "|";
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .ghd-nav-utility li {
    margin-right: 8px;
  }

  .ghd-nav-utility li:before {
    padding-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .ghd-nav-utility {
    display: block;
    padding: 25px;
    text-align: left;
    background: #e9546a;
  }

  .ghd-nav-utility li {
    margin-top: 35px;
    margin-right: 0;
    width: 33.33%;
    font-size: 13px;
  }

  .ghd-nav-utility li:nth-child(1),
  .ghd-nav-utility li:nth-child(2),
  .ghd-nav-utility li:nth-child(3) {
    margin-top: 0;
  }

  .ghd-nav-utility li:before {
    padding-right: 10px;
    color: #fff;
  }

  .ghd-nav-utility li a {
    color: #fff;
  }
}

/* ghd-nav-inquiry */
.ghd-nav-inquiry {
  display: inline;
  font-size: 0;
}

.ghd-nav-inquiry li {
  display: inline-block;
  list-style: none;
  font-size: 14px;
}

.ghd-nav-inquiry li a {
  display: block;
  padding: 11px 38px;
  border-right: 2px solid #fff;
  text-align: center;
  color: #fff;
}

.univ .ghd-nav-inquiry li a {
  background: #989789;
}

.jh .ghd-nav-inquiry li a {
  background: #d3a780;
}

.gakuen .ghd-nav-inquiry li a {
  padding: 20px 24px 0 24px;
  height: 60px;
  background: #d80a30;
}

.ghd-nav-inquiry li:last-child a {
  border-right: none;
}

.ghd-nav-inquiry li a:hover {
  text-decoration: none;
  transition: all .4s;
}

@media screen and (min-width: 768px) {
  .univ .ghd-nav-inquiry li a:hover {
    background: #b2b1aa;
  }

  .jh .ghd-nav-inquiry li a:hover {
    background: #e0c1a6;
  }

  .gakuen .ghd-nav-inquiry li a:hover {
    background: rgba(216,10,48,0.7);
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .ghd-nav-inquiry li a {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media screen and (max-width: 767px) {
  .ghd-nav-inquiry li {
    width: 50%;
  }

  .ghd-nav-inquiry li a {
    padding: 18px;
    border-right: 1px solid #fff;
  }

  .gakuen .ghd-nav-inquiry li {
    width: 100%;
  }

  .gakuen .ghd-nav-inquiry li a {
    padding: 15px 35px 15px 25px;
    height: auto;
    text-align: left;
  }
}

/* ghd-nav-target */
.ghd-nav-target {
  padding: 10px 0;
  text-align: right;
  font-size: 0;
}

.univ .ghd-nav-target {
  background: #e9e9e5;
}

.jh .ghd-nav-target {
  background: #ebe1d8;
}

.ghd-nav-target li {
  display: inline-block;
  margin-right: 27px;
  list-style: none;
  font-size: 14px;
}

.ghd-nav-target li a {
  position: relative;
}

@media screen and (min-width: 768px) {
  .ghd-nav-target li:before {
    position: relative;
    top: -1px;
    left: 0;
    display: inline-block;
    margin-left: 3px;
    margin-right: 6px;
    color: #d80a30;
    font-size: 10px;
    content: "\f054";
    text-decoration: none;
    font-family: "FontAwesome";
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .ghd-nav-target li {
    margin-right: 20px;
  }

  .jh .ghd-nav-target li {
    margin-right: 15px;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .ghd-nav-target {
    padding: 0;
    text-align: left;
  }

  .univ .ghd-nav-target {
    background: #f6f6f4;
  }

  .jh .ghd-nav-target {
    background: #ebe1d8;
  }

  .ghd-nav-target li {
    margin: 0;
    padding: 0;
    width: 50%;
    border-top: 1px solid #d80a30;
    border-right: 1px solid #d80a30;
    box-sizing: border-box;
    text-indent: 0;
    font-size: 12px;
  }

  .ghd-nav-target li:nth-child(2n) {
    border-right: none;
  }

  .ghd-nav-target li:nth-child(1),
  .ghd-nav-target li:nth-child(2) {
    border-top: none;
  }

  .ghd-nav-target li a {
    display: block;
    padding: 15px 25px;
  }

  .ghd-nav-target li a:before {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: 3px;
    margin-right: 6px;
    color: #d80a30;
    font-size: 12px;
    content: "\f054";
    text-decoration: none;
    font-family: "FontAwesome";
  }
}

/* ghd-nav-news */
@media screen and (max-width: 767px) {
  .ghd-nav-news li {
    width: 100%;
  }

  .ghd-nav-news li a {
    position: relative;
    display: block;
    padding: 15px 35px 15px 45px;
    background: #f6f6f4;
  }

  .ghd-nav-news li a:before {
    position: absolute;
    top: 50%;
    left: 25px;
    display: inline-block;
    margin-top: -11px;
    color: #d80a30;
    font-size: 15px;
    content: "\f054";
    text-decoration: none;
    font-family: "FontAwesome";
  }
}

/* ghd-container-02 */
.gakuen .ghd-container-02 {
  float: right;
  width: calc(100% - 150px);
}

@media screen and (max-width: 767px) {
  .ghd-container-02 {
    position: relative;
    top: 64px;
    left: 0;
  }

  .gakuen .ghd-container-02 {
    float: none;
    width: 100%;
  }
}

/* ghd-nav-global */
.ghd-nav-global > ul {
  display: table;
  width: 100%;
}

.ghd-nav-global > ul > li {
  display: table-cell;
  table-layout: fixed;
  list-style: none;
  font-size: 17px;
  font-weight: bold;
}

.univ .ghd-nav-global > ul > li {
  width: 16.66%;
}

.jh .ghd-nav-global > ul > li {
  width: 20%;
}

.gakuen .ghd-nav-global > ul > li {
  padding: 0 10px;
  font-size: 14px;
}

.ghd-nav-global > ul > li > a {
  position: relative;
  display: block;
  padding: 25px 0;
  text-align: center;
}

.univ .ghd-nav-global > ul > li > a {
  background: #fbfbf7;
}

.jh .ghd-nav-global > ul > li > a {
  background: #fdfaf7;
}

.gakuen .ghd-nav-global > ul > li > a {
  padding: 20px 0 0 0;
  height: 60px;
  border-bottom: 2px solid #fff;
}

.univ.about .ghd-nav-global > ul > li.ghd-nav-about > a,
.univ.faculty .ghd-nav-global > ul > li.ghd-nav-faculty > a,
.univ.life .ghd-nav-global > ul > li.ghd-nav-life > a,
.univ.career .ghd-nav-global > ul > li.ghd-nav-career > a,
.univ.admission .ghd-nav-global > ul > li.ghd-nav-admission > a {
  background: #dbdad2;
}

.jh.about .ghd-nav-global > ul > li.ghd-nav-about > a,
.jh.education .ghd-nav-global > ul > li.ghd-nav-education > a,
.jh.life .ghd-nav-global > ul > li.ghd-nav-life > a,
.jh.course .ghd-nav-global > ul > li.ghd-nav-course > a,
.jh.entranceguide .ghd-nav-global > ul > li.ghd-nav-entranceguide > a {
  background: #ebccb0;
}

.gakuen.progress .ghd-nav-global > ul > li.ghd-nav-progress > a,
.gakuen.about .ghd-nav-global > ul > li.ghd-nav-about > a,
.gakuen.information .ghd-nav-global > ul > li.ghd-nav-information > a,
.gakuen.pr .ghd-nav-global > ul > li.ghd-nav-pr > a,
.gakuen.contribution .ghd-nav-global > ul > li.ghd-nav-contribution > a {
  border-bottom: 2px solid #d80a30;
}

.ghd-nav-global > ul > li > a:before {
  position: absolute;
  top: 30%;
  right: 0;
  content: " ";
  width: 1px;
  height: 40%;
  border-right: 1px solid #bababa;
}

.ghd-nav-global > ul > li:last-child > a:before {
  border: none;
}

@media screen and (min-width: 768px) {
  .gakuen .ghd-nav-global > ul > li > a:before {
    border: none;
    content: "";
  }

  .ghd-nav-global > ul > li > a:hover,
  .ghd-nav-global > ul > li > a.active {
    text-decoration: none;
    transition: all 0.4s;
  }

  .univ .ghd-nav-global > ul > li > a:hover,
  .univ .ghd-nav-global > ul > li > a.active {
    background: #dbdad2 !important;
  }

  .jh .ghd-nav-global > ul > li > a:hover,
  .jh .ghd-nav-global > ul > li > a.active {
    background: #ebccb0 !important;
  }

  .gakuen .ghd-nav-global > ul > li > a:hover,
  .gakuen .ghd-nav-global > ul > li > a.active {
    border-bottom: 2px solid #d80a30;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .ghd-nav-global > ul > li {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .ghd-nav-global > ul {
    position: relative;
    z-index: 2;
  }

  .ghd-nav-global > ul > li {
    display: block;
    width: 100% !important;
    border-bottom: 1px solid #d80a30;
    font-size: 16px;
    font-weight: normal;
  }

  .gakuen .ghd-nav-global > ul > li {
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
    font-size: 16px;
  }

  .ghd-nav-global > ul > li > a {
    text-align: left;
    padding: 15px 35px 15px 25px;
    background: #fff !important;
  }

  .gakuen .ghd-nav-global > ul > li > a {
    padding: 15px 35px 15px 25px;
    height: auto;
  }

  .ghd-nav-global > ul > li > a:before {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -12px;
    width: initial;
    border-right: none;
    color: #d80a30;
    font-size: 16px;
    content: "\f055";
    text-decoration: none;
    font-family: "FontAwesome";
  }

  .ghd-nav-global > ul > li > a.active:before {
    content: "\f056";
  }
}

/* nav-global-content */
.nav-global-content {
  display: none;/* !!!!!!!!!!! JSで表示・非表示切り替え !!!!!!!!!!! */
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
}

.univ .nav-global-content {
  background: #dbdad2;
}

.jh .nav-global-content {
  background: #ebccb0;
}

.gakuen .nav-global-content {
  top: 61px;
  box-shadow: -980px 0 0 0 #fff, 980px 0 0 0 #fff;
  background: #fff;
}

@media screen and (min-width: 1280px) {
  .nav-global-content {
    padding-left: 13%;
    padding-right: 13%;
  }

  .gakuen .nav-global-content {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav-global-content {
    position: relative;
    top: 0;
    left: 0;
  }

  .univ .nav-global-content {
    background: #f6f6f4;
  }

  .jh .nav-global-content {
    background: #ebccb0;
  }

  .gakuen .nav-global-content {
    top: 0;
    box-shadow: none;
  }
}

/* nav-global-content-container */
.nav-global-content-container {
  position: relative;
  margin: 0 auto;
  padding: 30px 0 15px 0;
}

@media screen and (max-width: 1280px) {
  .nav-global-content-container {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .nav-global-content-container {
    padding: 0;
    width: 100%;
  }
}

/* nav-global-content-title */
.nav-global-content-title {
  margin-bottom: 20px;
  font-size: 22px;
}

.nav-global-content-title:before {
  position: relative;
  top: -1px;
  left: 0;
  display: inline-block;
  margin-right: 10px;
  color: #d80a30;
  font-size: 17px;
  content: "\f054";
  text-decoration: none;
  font-family: "FontAwesome";
}

@media screen and (max-width: 767px) {
  .nav-global-content-title {
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
    font-size: 16px;
  }

  .univ .nav-global-content-title {
    background: #f6f6f4;
  }

  .gakuen .nav-global-content-title {
    background: #f6f6f4;
  }

  .nav-global-content-title:before {
    display: none;
  }

  .nav-global-content-title a {
    position: relative;
    display: block;
    padding: 15px 35px 12px 25px;
  }

  .nav-global-content-title a.active {
    background: #f1dbdb;
  }

  .nav-global-content-title a:after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    margin-top: -11px;
    color: #d80a30;
    font-size: 15px;
    content: "\f054";
    text-decoration: none;
    font-family: "FontAwesome";
  }
}

/* nav-global-content-close */
.nav-global-content-close {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 16px;
  font-weight: normal;
}

.nav-global-content-close:before {
  position: relative;
  top: -1px;
  left: 0;
  display: inline-block;
  margin-right: 15px;
  color: #d80a30;
  font-size: 16px;
  content: "\f00d";
  text-decoration: none;
  font-family: "FontAwesome";
}

@media screen and (max-width: 767px) {
  .nav-global-content-close {
    display: none;
  }
}

/* nav-global-box */
.nav-global-box {
  font-size: 0;
}

/* nav-global-box-item */
.nav-global-box-item {
  display: inline-block;
  vertical-align: top;
  background: rgba(255,255,255,0.5);
}

.gakuen .nav-global-box-item {
  background: #f4f4f4;
}

@media screen and (max-width: 767px) {
  .univ .nav-global-box-item {
    background: #f6f6f4;
  }

  .gakuen .nav-global-box-item {
    background: #f6f6f4;
  }
}

/* nav-global-box-1 */
.nav-global-box-1 .nav-global-box-item {
  margin-bottom: 1%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .nav-global-box-1 .nav-global-box-item {
    margin: 0;
  }
}

/* nav-global-box-2 */
.nav-global-box-2 .nav-global-box-item {
  margin: 0 1% 1% 0;
  width: 49.5%;
}

.nav-global-box-2 .nav-global-box-item:nth-child(2n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .nav-global-box-2 .nav-global-box-item {
    margin: 0;
    width: 100%;
  }
}

/* nav-global-box-3 */
.nav-global-box-3 .nav-global-box-item {
  margin: 0 1% 1% 0;
  width: 32.66%;
}

.nav-global-box-3 .nav-global-box-item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .nav-global-box-3 .nav-global-box-item {
    margin: 0;
    width: 100%;
  }
}

/* nav-global-box-ratio */
.nav-global-box-ratio .nav-global-box-item {
  margin: 0 1% 1% 0;
}

.nav-global-box-ratio .nav-global-box-item:last-child {
  margin-right: 0;
}

.nav-global-box-ratio .ratio-large {
  width: 66.32%;
}

.nav-global-box-ratio .ratio-small {
  width: 32.66%;
}

@media screen and (max-width: 767px) {
  .nav-global-box-ratio .nav-global-box-item {
    margin: 0;
  }

  .nav-global-box-ratio .ratio-large,
  .nav-global-box-ratio .ratio-small {
    width: 100%;
  }
}

/* nav-global-column-5 */
.nav-global-column-5 {
  padding: 5px 0 20px 0;
  border-bottom: 1px solid #dbdad2;
  font-size: 0;
}

.nav-global-column-5 .nav-global-column-item {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .nav-global-column-5 {
    display: none;/* !!!!!!!!!!! JSで表示・非表示切り替え !!!!!!!!!!! */
    padding: 0;
    border-bottom: none;
    background: #edede9;
  }

  .nav-global-column-5 .nav-global-column-item {
    display: block;
    width: 100%;
  }
}

/* nav-global-box-head */
.nav-global-box-head {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .univ .nav-global-box-head {
    border-bottom: 1px solid #dbdad2;
  }

  .gakuen .nav-global-box-head {
    border-bottom: 1px solid #fff;
  }

  .univ .nav-global-box-head + .nav-global-box-head {
    border-top: 10px solid #dbdad2;
  }
}

@media screen and (max-width: 767px) {
  .nav-global-box-head {
    padding: 0;
  }
}

/* nav-global-box-content */
.nav-global-box-content {
  padding: 10px;
}

.nav-global-box-content > *:first-child {
  margin-top: 0 !important;
}

.nav-global-box-content > *:last-child {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
  .nav-global-box-content {
    padding: 0;
  }

  .nav-global-box-content.nav-unique-gakuen-hyakunin {
    padding-left: 25px;
    background: #edede9;
  }

  .nav-global-box-content.nav-unique-gakuen-hyakunin a {
    background: #fff;
  }
}

/* nav-global-box-heading-large */
.nav-global-box-heading-large {
  font-size: 16px;
}

.nav-global-box-heading-large:before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 10px;
  color: #d80a30;
  font-size: 15px;
  content: "\f054";
  text-decoration: none;
  font-family: "FontAwesome";
}

.nav-global-box-heading-large.no-link {
  padding-left: 5px;
}

.nav-global-box-heading-large.no-link:before {
  margin-right: 0;
  content: "";
}

@media screen and (max-width: 767px) {
  .nav-global-box-heading-large {
    padding: 0;
    border-left: none;
    font-size: 14px;
  }

  .nav-global-box-heading-large:before {
    display: none;
  }

  .nav-global-box-heading-large a {
    position: relative;
    display: block;
    padding: 15px 35px 12px 40px;
    border-bottom: 1px solid #fff;
  }

  .nav-global-box-heading-large a.active {
    border-bottom: 1px solid #edede9;
    background: #f1dbdb;
  }

  .nav-global-box-heading-large a:after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    margin-top: -11px;
    color: #d80a30;
    font-size: 15px;
    content: "\f054";
    text-decoration: none;
    font-family: "FontAwesome";
  }

  .nav-global-box-heading-large a.has-child:after {
    margin-top: -12px;
    font-size: 16px;
    content: "\f055";
  }

  .nav-global-box-heading-large a.has-child.active:after {
    content: "\f056";
  }

  .nav-global-box-heading-large.no-link {
    position: relative;
    padding: 15px 35px 12px 40px;
  }

  .nav-global-box-heading-large.no-link.has-child:after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    margin-top: -12px;
    color: #d80a30;
    font-size: 16px;
    content: "\f055";
    text-decoration: none;
    font-family: "FontAwesome";
  }

  .nav-global-box-heading-large.no-link.has-child.active:after {
    content: "\f056";
  }
}

/* nav-global-box-heading-small */
.nav-global-box-heading-small {
  margin: 15px 0 5px 12px;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .nav-global-box-heading-small {
    position: relative;
    margin: 0;
    padding: 15px 35px 12px 40px;
    font-weight: normal;
  }

  .nav-global-box-heading-small.has-child:after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    margin-top: -12px;
    color: #d80a30;
    font-size: 16px;
    content: "\f055";
    text-decoration: none;
    font-family: "FontAwesome";
  }

  .nav-global-box-heading-small.has-child.active:after {
    content: "\f056";
  }
}

/* nav-global-box-page-title */
.nav-global-box-page-title {
  margin-left: 33px;
}

.nav-global-box-page-title.gutter-narrow {
  margin-left: 10px;
}

.nav-global-box-heading-large + .nav-global-box-page-title {
  margin-top: 8px;
}

.object-inline .nav-global-box-heading-large + .nav-global-box-page-title {
  margin-top: 0;
}

.nav-global-box-page-title li {
  margin-bottom: 8px;
  text-indent: -6px;
  list-style: none;
  font-size: 14px;
  font-weight: normal;
}

.nav-global-box-page-title li:last-child {
  margin-bottom: 0;
}

.nav-global-box-page-title li:before {
  position: relative;
  top: -1px;
  left: 0;
  display: inline-block;
  margin-right: 6px;
  color: #d80a30;
  font-size: 10px;
  content: "\f054";
  text-decoration: none;
  font-family: "FontAwesome";
}

.nav-global-box-page-title.list-inline {
  margin-left: 0;
  overflow: hidden;
}

.nav-global-box-page-title.list-inline li {
  display: inline-block;
  margin-left: 35px;
}

@media screen and (max-width: 767px) {
  .nav-global-box-page-title {
    display: none;/* !!!!!!!!!!! JSで表示・非表示切り替え !!!!!!!!!!! */
    margin-left: 0;
    padding-left: 25px;
    background: #edede9;
  }

  .nav-global-box-page-title.gutter-narrow {
    margin-left: 0;
  }

  .nav-global-box-heading-large + .nav-global-box-page-title {
    margin-top: 0;
  }

  .object-inline > .nav-global-box-page-title {
  }

  .nav-global-box-page-title li {
    margin-bottom: 0;
    border-bottom: 1px solid #dbdad2;
    text-indent: 0;
    background: #fff;
  }

  .nav-global-box-page-title li:before {
    display: none;
  }

  .nav-global-box-page-title li a {
    position: relative;
    display: block;
    padding: 15px 35px 12px 30px;
  }

  .nav-global-box-page-title li a.active {
    background: #f1dbdb;
  }

  .nav-global-box-page-title li a:after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    margin-top: -11px;
    color: #d80a30;
    font-size: 15px;
    content: "\f054";
    text-decoration: none;
    font-family: "FontAwesome";
  }

  .nav-global-box-page-title.list-inline li {
    display: block;
    margin-left: 0;
  }

  .nav-global-box .column-unit .column-item {
    margin-top: 0;
  }
}

/* nav-global-box-thumbnail */
.nav-global-box-thumbnail {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .nav-global-box-thumbnail {
    display: none;
  }
}

/* nav-global-box-text */
.nav-global-box-text {
  display: inline-block;
  width: calc(100% - 100px - 20px);
}

.nav-global-box-text .column-unit,
.nav-global-box-text .column-item {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
  .nav-global-box-text {
    width: 100%;
  }
}

/* vertical-middle */
.vertical-middle .nav-global-box-thumbnail,
.vertical-middle .nav-global-box-text {
  vertical-align: middle;
}

/* object-inline */
@media screen and (min-width: 768px) {
  .object-inline > * {
    display: inline-block;
    margin-right: 35px;
  }
}

@media screen and (max-width: 767px) {
  .object-inline > * {
    width: 100%;
    margin-right: 0;
  }
}

/* directory-third */
@media screen and (max-width: 767px) {
  .directory-third.has-child .link-external-inline {
    display: none;
  }

  .directory-third.has-child.active {
    background: #edede9;
  }
}

/* separately-gutter */
.separately-gutter-01 {
  padding-top: 35px;
}

.separately-gutter-02 {
  padding-top: 60px;
}

.separately-gutter-03 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .separately-gutter-01,
  .separately-gutter-02,
  .separately-gutter-03 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
