@charset "UTF-8";

/*
  MODULE
--------------------------------------------- */
/*
  breadcrumb
----------------------------------*/
.breadcrumb {
  margin-bottom: 50px;
  padding: 10px 0;
  font-size: 0;
}

.univ .breadcrumb {
  background: url("/univ/resources/img/common/bg_03.png") 0 0 repeat;
}

.jh .breadcrumb {
  background: url("/jh/resources/img/common/bg_03.png") 0 0 repeat;
}

.gakuen .breadcrumb {
  background: url("/resources/img/common/bg_02.png") 0 0 repeat;
}

@media screen and (max-width: 767px) {
  .breadcrumb {
    margin-bottom: 20px;
    padding: 10px 15px;
  }
}

.breadcrumb-list {
  margin: 0 auto;
  width: 980px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1280px) {
  .breadcrumb-list {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .breadcrumb-list {
    width: 100%;
  }
}

.breadcrumb-list li {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 20px;
  max-width: 75%;
  list-style: none;
  color: #666;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb-list li:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  content: "＞";
}

@media screen and (max-width: 767px) {
  .breadcrumb-list li {
    padding: 0 8px 0 18px;
    max-width: 50%;
    font-size: 11px;
  }

  .breadcrumb-list li:before {
    margin-top: -7px;
  }
}

.breadcrumb-list li:first-child {
  padding-left: 0;
}

.breadcrumb-list li:first-child:before {
  content: " ";
}

.breadcrumb-list li a {
  color: #666;
}


/*
  container
----------------------------------*/
.main-content-container {
  margin: 0 auto;
  width: 980px;
}

@media screen and (max-width: 1280px) {
  .main-content-container {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .main-content-container {
    padding: 0 15px;
    width: 100%;
  }
}


/*
  margin
----------------------------------*/
.gutter-section {
  margin-bottom: 100px !important;
}

@media screen and (max-width: 767px) {
  .gutter-section {
    margin-bottom: 60px !important;
  }
}

.gutter-block {
  margin-bottom: 70px !important;
}

@media screen and (max-width: 767px) {
  .gutter-block {
    margin-bottom: 40px !important;
  }
}

.gutter-box {
  margin-bottom: 30px !important;
}

.gutter-item {
  margin-bottom: 15px !important;
}


/*
  column
----------------------------------*/
/* column-unit */
.column-unit {
  margin-bottom: 15px;
  font-size: 0;
}

/* column-item */
.column-item{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.column-item > *:first-child {
  margin-top: 0 !important;
}

.column-item > *:last-child {
  margin-bottom: 0 !important;
}

/* column-1 */
.column-1 .column-item {
  margin-top: 25px;
  width: 100%;
}

.column-1 .column-item:nth-child(1) {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .column-1 .column-item {
    margin-top: 15px;
  }
}

/* column-2 */
.column-2 .column-item {
  margin: 25px 25px 0 0;
  width: calc((100% - 25px) / 2);
}

@media screen and (min-width: 768px) {
  .column-2 .column-item:nth-child(1),
  .column-2 .column-item:nth-child(2) {
    margin-top: 0;
  }

  .column-2 .column-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .column-2 .column-item {
    display: block;
    margin: 15px 0 0 0;
    width: 100%;
  }

  .column-2 .column-item:nth-child(1) {
    margin-top: 0;
  }
}

/* column-3 */
.column-3 .column-item {
  margin: 25px 25px 0 0;
  width: calc((100% - 50px) / 3);
}

@media screen and (min-width: 768px) {
  .column-3 .column-item:nth-child(1),
  .column-3 .column-item:nth-child(2),
  .column-3 .column-item:nth-child(3) {
    margin-top: 0;
  }

  .column-3 .column-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .column-3 .column-item {
    display: block;
    margin: 15px 0 0 0;
    width: 100%;
  }

  .column-3 .column-item:nth-child(1) {
    margin-top: 0;
  }
}

/* column-3 small-view column */
@media screen and (max-width: 767px) {
  .column-3.smview-column .column-item {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: calc((100% - 20px) / 3);
  }

  .column-3.smview-column .column-item:nth-child(3n) {
    margin-right: 0;
  }
}

/* column-4 */
.column-4 .column-item {
  margin: 25px 25px 0 0;
  width: calc((100% - 75px) / 4);
}

@media screen and (min-width: 768px) {
  .column-4 .column-item:nth-child(1),
  .column-4 .column-item:nth-child(2),
  .column-4 .column-item:nth-child(3),
  .column-4 .column-item:nth-child(4) {
    margin-top: 0;
  }

  .column-4 .column-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .column-4 .column-item {
    display: block;
    margin: 15px 0 0 0;
    width: 100%;
  }

  .column-4 .column-item:nth-child(1) {
    margin-top: 0;
  }
}

/* column-5 */
.column-5 .column-item {
  margin: 25px 25px 0 0;
  width: calc((100% - 100px) / 5);
}

@media screen and (min-width: 768px) {
  .column-5 .column-item:nth-child(1),
  .column-5 .column-item:nth-child(2),
  .column-5 .column-item:nth-child(3),
  .column-5 .column-item:nth-child(4),
  .column-5 .column-item:nth-child(5) {
    margin-top: 0;
  }

  .column-5 .column-item:nth-child(5n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .column-5 .column-item {
    display: block;
    margin: 15px 0 0 0;
    width: 100%;
  }

  .column-5 .column-item:nth-child(1) {
    margin-top: 0;
  }
}


/*
  media
----------------------------------*/
/* media-right & media-left */
.media-right,
.media-left {
  margin-bottom: 15px;
}

.media-right:before,
.media-right:after,
.media-left:before,
.media-left:after {
  content: " ";
  display: table;
}

.media-right:after,
.media-left:after {
  clear: both;
}

.media-right .image,
.media-left .image {
  display: table;
  width: 60px;
  margin-bottom: 0;
}

.media-left .image {
  float: left;
  padding-right: 25px;
}

.media-right .image {
  float: right;
  padding-left: 25px;
}

.media-right .text,
.media-left .text {
  overflow: hidden;
}

.media-right .text > *:first-child,
.media-left .text > *:first-child {
  margin-top: 0 !important;
}

.media-right .text > *:last-child,
.media-left .text > *:last-child {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
  .media-right .image,
  .media-left .image {
    display: block;
    float: none;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
  }

  .media-right .image img,
  .media-left .image img {
    width: 100%;
  }
}

/* media fluid pattern */
.media-right.fluid .image,
.media-left.fluid .image {
  margin-bottom: 10px;
}

.media-right.fluid .text,
.media-left.fluid .text {
  overflow: visible;
}

/* media-cover */
.media-cover {
  margin-bottom: 15px;
}

/* image-caption */
.image-caption {
  margin-top: 10px;
  font-size: 12px;
}

/* image-liquid */
.image-liquid {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .image-liquid-lgview {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .image-liquid-smview {
    width: 100%;
  }
}


/*
  heading
----------------------------------*/
/* main-title */
.main-title {
  margin: 0 auto;
  padding: 20px 0;
  letter-spacing: .1em;
  font-size: 28px;
}

.main-title.directory-second {
  padding: 40px 0;
  text-align: center;
  letter-spacing: .15em;
  font-size: 36px;
}

.univ .main-title {
  background: url("/univ/resources/img/common/bg_02.png") 0 0 repeat;
}

.jh .main-title {
  background: url("/jh/resources/img/common/bg_02.png") 0 0 repeat;
}

.gakuen .main-title {
  background: url("/resources/img/common/bg_01.png") 0 0 repeat;
}

@media screen and (max-width: 767px) {
  .main-title {
    padding: 10px 15px;
    font-size: 18px;
  }

  .main-title.directory-second {
    padding: 20px 15px;
    font-size: 22px;
  }
}

.main-title-text {
  display: inline-block;
  vertical-align: middle;
}

.main-title-container {
  margin: 0 auto;
  width: 980px;
}

@media screen and (max-width: 1280px) {
  .main-title-container {
    margin: 0 auto;
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .main-title-container {
    width: 100%;
  }
}

.main-title-category {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .main-title-category {
    width: 100%;
    margin-right: 0;
    font-size: 14px;
  }
}

/* heading-2 */
.heading-2 {
  margin-bottom: 30px;
  padding-left: 18px;
  border-left: 4px solid #d80a30;
  color: #d80a30;
  font-size: 26px;
}

@media screen and (max-width: 767px) {
  .heading-2 {
    margin-bottom: 15px;
    padding-left: 14px;
    font-size: 22px;
  }
}

/* heading-3 */
.heading-3 {
  margin-bottom: 20px;
  border-top: 2px solid #d80a30;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

.heading-3.heading-no-link {
  padding: 14px 15px;
}

@media screen and (max-width: 767px) {
  .heading-3.heading-no-link {
    padding: 15px 10px;
  }
}

.heading-3.heading-link a {
  position: relative;
  display: block;
  padding: 14px 30px 14px 15px;
}

@media screen and (max-width: 767px) {
  .heading-3.heading-link a {
    padding: 15px 30px 15px 10px;
  }
}

.heading-3.heading-link a > span:before {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  margin: -8px 15px 0 0;
  line-height: 1;
  color: #d80a30;
  content: "\f054";
  text-decoration: none;
  font-family: "FontAwesome";
}

/* heading-3 for directory-second */
.heading-3.directory-second {
  background: #f6f6f6;
}

/* heading-4 */
.heading-4 {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 14px;
}

.heading-4:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 6px;
  color: #e04b66;
  font-size: 14px;
  content: "■";
}

/* heading-4 for directory-second */
.heading-4.directory-second {
  margin-bottom: 15px;
  padding-left: 0;
  font-size: 18px;
}

.univ .heading-4.directory-second {
  background: #e9e9e5;
}

.jh .heading-4.directory-second {
  background: #ebe1d8;
}

.heading-4.directory-second:before {
  content: "";
}

@media screen and (max-width: 767px) {
  .heading-4.directory-second {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.heading-4.directory-second.heading-no-link {
  padding: 7px 15px;
}

@media screen and (max-width: 767px) {
  .heading-4.directory-second.heading-no-link {
    padding: 9px 10px;
  }
}

.heading-4.directory-second.heading-link a {
  position: relative;
  display: block;
  padding: 7px 30px 7px 15px;
}

@media screen and (max-width: 767px) {
  .heading-4.directory-second.heading-link a {
    padding: 9px 30px 9px 10px;
  }
}

.heading-4.directory-second.heading-link a > span:before {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  margin: -8px 15px 0 0;
  line-height: 1;
  color: #d80a30;
  content: "\f054";
  text-decoration: none;
  font-family: "FontAwesome";
}


/*
  text
----------------------------------*/
/* paragraph */
#main-content p {
  margin-bottom: 15px;
  line-height: 1.7;
}

/* main-content-lead */
.main-content-lead {
  font-size: 22px;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .main-content-lead {
    font-size: 18px;
  }
}

/* text-notes */
.text-notes {
  margin-bottom: 15px;
  color: #666;
  font-size: 14px;
}

.text-notes li {
  margin-bottom: 6px;
  list-style: none;
}

.text-notes li:last-child {
  margin-bottom: 0;
}


/* text-size */
.text-size-lg {
  font-size: 18px;
}

.text-size-md {
  font-size: 16px;
}

.text-size-sm {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .text-size-lg-lgview {
    font-size: 18px;
  }

  .text-size-md-lgview {
    font-size: 16px;
  }

  .text-size-sm-lgview {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .text-size-lg-smview {
    font-size: 18px;
  }

  .text-size-md-smview {
    font-size: 16px;
  }

  .text-size-sm-smview {
    font-size: 12px;
  }
}


/*
  table
----------------------------------*/
table {
  margin-bottom: 15px;
  width: 99.8%;
  table-layout: auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
  table {
    font-size: 13px;
  }
}

table th,
table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-weight: normal;
}

table th > *:first-child,
table td > *:first-child {
  margin-top: 0 !important;
}

table th > *:last-child,
table td > *:last-child {
  margin-bottom: 0 !important;
}

table tr.text-left th,
table tr.text-left td {
  text-align: left;
}

table tr.text-right th,
table tr.text-right td {
  text-align: right;
}

table tr.text-center th,
table tr.text-center td {
  text-align: center;
}

table thead th {
  font-weight: bold;
  background: #ccc;
}

table th {
  text-align: left;
  background: #f6f6f6;
}

/* table-block-smview */
@media screen and (max-width: 767px) {
  .table-block-smview th,
  .table-block-smview td {
    display: block;
    width: 100% !important;
  }
}

/* table-scroll */
@media screen and (max-width: 767px) {
  .table-scroll {
    margin-bottom: 15px;
    overflow: auto;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .table-scroll table {
    margin-bottom: 10px;
  }

  .table-scroll::-webkit-scrollbar {
    height: 5px;
  }

  .table-scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eee;
  }

  .table-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #aaa;
  }

  .table-scroll th {
    max-width: 260px;
    min-width: 100px;
  }

  .table-scroll td {
    max-width: 260px;
    min-width: 100px;
  }
}

/* table-transparent */
.table-transparent,
.table-transparent th,
.table-transparent td {
  border: none;
  background: none;
}

.table-transparent th {
  font-weight: bold;
}

.table-transparent th,
.table-transparent td {
  padding: 0 0 5px 0;
  vertical-align: top;
}

.table-transparent tr:last-child > * {
  padding: 0;
}

/* table-gutter-narrow */
.table-gutter-narrow th,
.table-gutter-narrow td {
  padding: 7px;
}

/* table-text-center */
.table-text-center th,
.table-text-center td {
  text-align: center;
}

table .list-ul li {
  margin-bottom: 0 !important;
}


/*
  color
----------------------------------*/
/* text-color */
.text-color-01 {
  color: #e04b66;
}

/* background-color */
.bg-color-01 {
  background: #fff3f6;
}

.bg-color-02 {
  background: #ffe8ed;
}

.bg-color-03 {
  background: #fff;
}

.bg-color-04 {
  background: #ececec;
}


/*
  border
----------------------------------*/
hr {
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
}

.hr-solid {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ccc;
}

.hr-dotted {
  border-width: 1px 0 0 0;
  border-style: dotted;
  border-color: #ccc;
}


/*
  box
----------------------------------*/
/* heading-child-box */
.heading-child-box {
  padding: 0 15px 15px 15px;
  background: #f6f6f6;
}

@media screen and (max-width: 767px) {
  .heading-child-box {
    padding: 0 10px 10px 10px;
  }
}

.heading-3 + .heading-child-box {
  margin-top: -21px;
}

.heading-child-box-img {
  margin-bottom: 15px;
}

.heading-child-box-img img {
  width: 100%;
}

/* heading-child-box in column-1 & column-2 */
.column-1 .heading-child-box-container,
.column-2 .heading-child-box-container {
  padding-top: 15px;
  border-top: 1px solid #ccc;
  font-size: 0;
}

.column-1 .heading-child-box-img,
.column-2 .heading-child-box-img {
  display: inline-block;
  margin-bottom: 0;
}

.column-1 .heading-child-box-img {
  width: calc((100% - 110px) / 3);
}

.column-2 .heading-child-box-img {
  width: 63%;
}

.column-1 .heading-child-box-text,
.column-2 .heading-child-box-text {
  display: inline-block;
  padding-left: 15px;
  vertical-align: top;
  font-size: 14px;
}

.column-1 .heading-child-box-text {
  padding-right: 270px;
  width: calc(100% - ((100% - 110px) / 3));
}

.column-2 .heading-child-box-text {
  width: 37%;
}

@media screen and (max-width: 767px) {
  .column-1 .heading-child-box-container,
  .column-2 .heading-child-box-container {
    padding-top: 0;
    border-top: none;
  }

  .column-1 .heading-child-box-img,
  .column-2 .heading-child-box-img {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  .column-1 .heading-child-box-text,
  .column-2 .heading-child-box-text {
    display: block;
    padding: 0;
    width: 100%;
  }
}

/* heading-child-box-sub */
.heading-child-box-sub {
  padding: 15px;
  border-top: 2px solid #d80a30;
  background: #f6f6f6;
}

@media screen and (max-width: 767px) {
  .heading-child-box-sub {
    padding: 10px;
  }
}

.heading-child-box-sub-img {
  margin-bottom: 15px;
}

.heading-child-box-sub-img img {
  width: 100%;
}

.heading-child-box-sub-text {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .heading-child-box-sub-text {
    font-size: 12px;
  }
}

/* box-emphasize */
.box-emphasize {
  margin-bottom: 15px;
  padding: 20px;
  border: 2px solid #eaeaea;
}

.box-emphasize > *:first-child {
  margin-top: 0 !important;
}

.box-emphasize > *:last-child {
  margin-bottom: 0 !important;
}

.box-emphasize-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .box-emphasize {
    padding: 15px;
  }

  .box-emphasize-title {
    font-size: 15px;
  }
}

/* box-emphasize stronger */
.box-emphasize.stronger {
  border: none;
  background: #f6f6f6;
}

/* box-emphasize strongest */
.box-emphasize.strongest {
  border: none;
  background: #fff3f6;
}


/*
  button
----------------------------------*/
/* button width pattern */
.btn-width-sm {
  width: 40%;
}

.btn-width-md {
  width: 60%;
}

.btn-width-lg {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .btn-width-sm-lgview {
    width: 40%;
  }

  .btn-width-md-lgview {
    width: 60%;
  }

  .btn-width-lg-lgview {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .btn-width-sm-smview {
    width: 45%;
  }

  .btn-width-md-smview {
    width: 65%;
  }

  .btn-width-lg-smview {
    width: 85%;
  }
}

/* btn-base */
.btn-base {
  display: inline-block;
  border: 1px solid #ccc;
  line-height: 1;
  text-align: center;
  outline: none;
  background: rgba(255,255,255,0.5);
}

.btn-base:hover,
.btn-base:hover:before {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .btn-base:hover,
  .btn-base:hover:before {
    background: #ffe8ed;
    transition: all .4s;
  }
}

/* btn-base small */
.btn-base.btn-base-sm {
  padding: 7px 8px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .btn-base.btn-base-sm {
    padding: 11px;
  }
}

/* btn-base large */
.btn-base.btn-base-lg {
  padding: 14px 12px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .btn-base.btn-base-lg {
    padding: 14px;
  }
}

/* btn-base large lgview Only*/
.btn-base.btn-base-lg-lgview {
  padding: 10px 12px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .btn-base.btn-base-lg-lgview {
    padding: 11px;
    font-size: 14px;
  }
}

/* btn-base large smview Only*/
.btn-base.btn-base-lg-smview {
  padding: 7px 8px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .btn-base.btn-base-lg-smview {
    padding: 14px;
    font-size: 16px;
  }
}

/* btn-icon-link */
.btn-icon-link:before {
  position: relative;
  top: -1px;
  left: 0;
  display: inline-block;
  margin-right: 5px;
  color: #d80a30;
  font-size: 11px;
  content: "\f054";
  text-decoration: none;
  font-family: "FontAwesome";
}

/* btn-icon-volume-up */
.btn-icon-volume-up:before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 7px;
  color: #d80a30;
  font-size: 16px;
  content: "\f028";
  text-decoration: none;
  font-family: "FontAwesome";
}

/* btn-icon-search-plus */
.btn-icon-search-plus:before {
  position: relative;
  top: -1px;
  left: 0;
  display: inline-block;
  margin-right: 7px;
  color: #d80a30;
  font-size: 14px;
  content: "\f00e";
  text-decoration: none;
  font-family: "FontAwesome";
}

/* btn-icon-times-circle */
.btn-icon-times-circle:before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 7px;
  color: #d80a30;
  font-size: 16px;
  content: "\f057";
  text-decoration: none;
  font-family: "FontAwesome";
}

/* btn-icon-plus-circle */
.btn-icon-plus-circle:before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 7px;
  color: #d80a30;
  font-size: 16px;
  content: "\f055";
  text-decoration: none;
  font-family: "FontAwesome";
}


/*
  link
----------------------------------*/
/* link-caret-right */
.link-caret-right {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  text-indent: -9px;
}

.link-caret-right:before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-left: 3px;
  margin-right: 6px;
  content: "\f0da";
  text-decoration: none;
  font-family: "FontAwesome";
}

.link-caret-right.icon-white:before {
  color: #fff;
}

.link-caret-right.icon-gray:before {
  color: #666;
}

.link-caret-right:hover:before {
  text-decoration: none;
}

/* link-chevron-right */
.link-chevron-right,
.link-chevron-right-list li {
  position: relative;
}

.link-chevron-right-list {
  margin-top: -10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.link-chevron-right-list li {
  position: relative;
  margin-top: 10px;
  list-style: none;
}

.link-chevron-right,
.link-chevron-right-list li {
  margin-left: 5px;
  padding-left: 10px;
  text-indent: -6px;
}

.link-chevron-right:before,
.link-chevron-right-list li:before {
  position: relative;
  top: -1px;
  left: 3px;
  display: inline-block;
  margin-right: 9px;
  content: "\f054";
  text-decoration: none;
  font-family: "FontAwesome";
  font-size: 70%;
}

.link-chevron-right.icon-red:before,
.link-chevron-right-list.icon-red li:before {
  color: #d80a30;
}

/* link-chevron-right-list:inline */
.link-chevron-right-list.list-inline {
  margin-left: -9px;
}

.link-chevron-right-list.list-inline li {
  display: inline-block;
  margin-left: 15px;
}

/* link-chevron-right-list : column */
.column-3.link-chevron-right-list {
  margin-left: 15px;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .column-3.link-chevron-right-list {
    margin-bottom: -25px;
  }
}

.column-3.link-chevron-right-list li {
  display: inline-block;
  margin-left: 0;
  margin-right: 25px;
  width: calc((100% - 50px) / 3);
  vertical-align: top;
  font-size: 14px;
}

.column-3.link-chevron-right-list li:nth-child(3n) {
  margin-right: 0;
}

.column-3.link-chevron-right-list li:before {
  top: 5px;
}

@media screen and (max-width: 767px) {
  .column-3.link-chevron-right-list {
    margin-left: 0;
  }

  .column-3.link-chevron-right-list li {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-indent: 0;
  }

  .column-3.link-chevron-right-list li a {
    display: block;
    padding: 10px 10px 10px 25px;
  }

  .column-3.link-chevron-right-list li:before {
    position: absolute;
    top: 15px;
    left: 10px;
  }
}

/* link-chevron-right-list : second directory */
.link-chevron-right-list.directory-second li {
  margin-bottom: 25px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .link-chevron-right-list.directory-second {
    border-top: 1px solid #ddd;
  }

  .heading-3 + .link-chevron-right-list.directory-second,
  .heading-4 + .link-chevron-right-list.directory-second {
    border-top: none;
  }

  .heading-3 + .link-chevron-right-list.directory-second {
    margin-top: -20px;
  }

  .heading-4 + .link-chevron-right-list.directory-second {
    margin-top: -15px;
  }

  .link-chevron-right-list.directory-second li {
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    text-indent: 0;
  }

  .link-chevron-right-list.directory-second li a {
    display: block;
    padding: 10px 10px 10px 25px;
  }

  .link-chevron-right-list.directory-second li:before {
    position: absolute;
    top: 15px;
    left: 10px;
  }
}

/* link-chevron-up */
.link-chevron-up {
  position: relative;
}

.link-chevron-up {
  margin-left: 5px;
  padding-left: 10px;
  text-indent: -6px;
}

.link-chevron-up:before {
  position: relative;
  top: -2px;
  left: 0;
  display: inline-block;
  margin-right: 6px;
  content: "\f077";
  text-decoration: none;
  font-family: "FontAwesome";
  font-size: 70%;
}

.link-chevron-up.icon-red:before {
  color: #d80a30;
}

/* link-chevron-down */
.link-chevron-down,
.link-chevron-down-list li {
  position: relative;
}

.link-chevron-down-list {
  margin-top: -10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.link-chevron-down-list li {
  position: relative;
  margin-top: 10px;
  list-style: none;
}

.link-chevron-down,
.link-chevron-down-list li {
  margin-left: 5px;
  padding-left: 10px;
  text-indent: -6px;
}

.link-chevron-down:before,
.link-chevron-down-list li:before {
  position: relative;
  top: -2px;
  left: 0;
  display: inline-block;
  margin-right: 6px;
  content: "\f078";
  text-decoration: none;
  font-family: "FontAwesome";
  font-size: 70%;
}

.link-chevron-down.icon-red:before,
.link-chevron-down-list.icon-red li:before {
  color: #d80a30;
}

/* link-chevron-down-list:inline */
.link-chevron-down-list.list-inline {
  margin-left: -9px;
}
.link-chevron-down-list.list-inline li {
  display: inline-block;
  margin-left: 15px;
}

/* link-external-inline */
.link-external-inline {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  text-indent: 0;
}

.link-external-inline:after {
  top: 0;
  right: 0;
  content: "\f08e";
  font-family: "FontAwesome";
}

.link-external-inline.icon-red:after {
  color: #d80a30;
}

/* link-pdf-inline , link-word-inline */
.link-pdf-inline,
.link-word-inline {
  position: relative;
  margin-right: 7px;
}

.link-pdf-inline {
  padding-right: 35px;
}

.link-word-inline {
  padding-right: 42px;
}

.link-pdf-inline:after,
.link-word-inline:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -7px;
  height: 15px;
  content: " ";
}

.link-pdf-inline:after {
  width: 29px;
  background: url("/resources/img/global/icon_09.png") no-repeat 0 0;
  background-size: 29px 15px;
}

.link-word-inline:after {
  width: 36px;
  background: url("/resources/img/global/icon_10.png") no-repeat 0 0;
  background-size: 36px 15px;
}

@media screen and (max-width: 767px) {
  .link-pdf-inline:after,
  .link-word-inline:after {
    margin-top: -5px;
  }

  .link-pdf-inline:after {
    background-size: 23px 12px;
  }

  .link-word-inline:after {
    background-size: 29px 12px;
  }
}

/* page-anchor */
.page-anchor {
  display: table;
  table-layout: fixed;
  margin-bottom: 15px;
  width: 100%;
}

.page-anchor li {
  display: table-cell;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .page-anchor li {
    display: block;
    margin-bottom: 2px;
  }
}

.page-anchor li a {
  display: block;
  margin-right: 10px;
  padding: 8px;
  text-align: center;
  background: #ececec;
}

@media screen and (max-width: 767px) {
  .page-anchor li a {
    margin-right: 0;
  }
}

.page-anchor li:last-child a {
  margin-right: 0;
}

.page-anchor li span {
  position: relative;
  padding-left: 16px;
}

.page-anchor li span:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  line-height: 1;
  color: #d80a30;
  content: "\f078";
  text-decoration: none;
  font-family: "FontAwesome";
  font-size: 12px;
}

/* text-link-current */
.text-link-current {
  color: #d80a30;
  text-decoration: underline;
}

/* link-image */
.link-image {
  outline: none;
}

@media screen and (min-width: 768px) {
  a.link-image:hover img {
    opacity: .8;
    transition: all 0.4s;
  }
}


/*
  link-box
----------------------------------*/
/* link-box */
.link-box {
  margin-bottom: 25px;
  font-size: 0;
}

.link-box-item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.link-box-item a {
  display: block;
  font-size: 0;
  background: #fff;
  cursor: pointer;
}

.link-box-item a:hover {
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
  text-decoration: none;
  transition: all 0.4s;
}

.link-box-item .link-box-thumbnail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 0 solid rgba(255,255,255,0.25);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.2s;
}

.link-box-item a:hover .link-box-thumbnail:before {
  border-width: 10px;
}

.link-box-item a:hover .link-box-thumbnail img {
  opacity: .8;
}

.link-box-thumbnail {
  position: relative;
}

.link-box-thumbnail img {
  width: 100%;
}

.link-box-text {
  font-size: 14px;
}

.vertical-top .link-box-thumbnail,
.vertical-top .link-box-text {
  vertical-align: top;
}

.vertical-middle .link-box-thumbnail,
.vertical-middle .link-box-text {
  vertical-align: middle;
}

.link-box-tag {
  width: 100px;
  margin-bottom: 7px;
  padding: 2px 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background: #e04b66;
}

@media screen and (max-width: 767px) {
  .link-box-tag {
    width: 95px;
    font-size: 11px;
  }
}

.link-box-small-text {
  margin: 9px 0 7px 0;
  color: #e04b66;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .link-box-small-text {
    font-size: 11px;
  }
}

.link-box-title {
  font-size: 14px;
  font-weight: normal;
}

/* link-box-2 */
.link-box-2 .link-box-item {
  margin: 0 1% 1% 0;
  width: 49.5%;
}

@media screen and (max-width: 767px) {
  .link-box-2 .link-box-item {
    margin: 0 0 3% 0;
    width: 100%;
  }
}

.link-box-2 .link-box-item:nth-child(even) {
  margin-right: 0;
}

.link-box-2 .link-box-item a {
  padding: 15px;
  width: 100%;
}

.link-box-2 .link-box-thumbnail {
  display: inline-block;
  margin-right: 15px;
  width: 30%;
}

.link-box-2 .link-box-text {
  display: inline-block;
  width: calc(100% - 30% - 15px);
}

/* link-box-3 */
.link-box-3 .link-box-item {
  margin: 0 1% 1% 0;
  width: 32.66%;
}

@media screen and (max-width: 767px) {
  .link-box-3 .link-box-item {
    margin: 0 2% 3% 0;
    width: 49%;
  }
}

@media screen and (min-width: 768px) {
  .link-box-3 .link-box-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .link-box-3 .link-box-item:nth-child(2n) {
    margin-right: 0;
  }
}

.link-box-3 .link-box-item a {
  padding: 15px;
  width: 100%;
}

.link-box-3 .link-box-thumbnail {
  display: inline-block;
  margin-right: 15px;
  width: 44.5%;
}

.link-box-3 .link-box-text {
  display: inline-block;
  width: calc(100% - 44.5% - 15px);
}

/* link-box-4 */
.link-box-4 .link-box-item {
  margin: 0 1% 1% 0;
  width: 24.25%;
}

@media screen and (max-width: 767px) {
  .link-box-4 .link-box-item {
    margin: 0 2% 3% 0;
    width: 49%;
  }
}

@media screen and (min-width: 768px) {
  .link-box-4 .link-box-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .link-box-4 .link-box-item:nth-child(2n) {
    margin-right: 0;
  }
}

.link-box-4 .link-box-item a {
  padding-bottom: 20px;
}

.link-box-4 .link-box-small-text {
  padding: 0 15px;
}

.link-box-4 .link-box-title {
  padding: 0 15px;
}

/* thumbnail-link-box */
.thumbnail-link-box {
  background: #f6f6f6;
}

.thumbnail-link-box a {
  display: block;
  padding: 15px;
  font-size: 0;
}

.thumbnail-link-box a:hover .thumbnail-link-box-text {
  text-decoration: underline;
}

.thumbnail-link-box-img {
  display: inline-block;
  width: 46%;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .thumbnail-link-box-img {
    width: 37%;
  }
}

.thumbnail-link-box-img img {
  width: 100%;
}

.thumbnail-link-box-text {
  position: relative;
  display: inline-block;
  width: calc(54% - 15px);
  margin-left: 15px;
  padding-left: 15px;
  text-indent: 0;
  vertical-align: middle;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .thumbnail-link-box-text {
    width: calc(63% - 15px);
  }
}

.thumbnail-link-box-text.link-chevron-right:before {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  line-height: 1;
  font-size: 11px;
}


/*
  pagination
----------------------------------*/
/* pagination */
.pagination {
  margin: 0 auto 15px auto;
  text-align: center;
  font-size: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 10px;
}

.pagination a {
  padding: 7px 10px;
  line-height: 1;
  font-size: 14px;
}

.pagination .pagination-num:last-child {
  margin-right: 0;
}

.pagination .pagination-num a {
  display: block;
  border: 1px solid #ccc;
}

.pagination .pagination-num a:hover,
.pagination .pagination-num a.current {
  text-decoration: none;
  background: #ffe8ed;
  transition: all .4s;
}

/* pagination-small */
.pagination-small {
  margin-bottom: 15px;
  font-size: 0;
}

.pagination-small:before,
.pagination-small:after {
  content: " ";
  display: table;
}

.pagination-small:after {
  clear: both;
}

.pagination-small-prev {
  float: left;
}

.pagination-small-prev:before {
  position: relative;
  top: -1px;
  left: 0;
  display: inline-block;
  margin-left: 3px;
  margin-right: 6px;
  color: #d80a30;
  font-size: 10px;
  content: "\f053";
  text-decoration: none;
  font-family: "FontAwesome";
}

.pagination-small-next {
  float: right;
}

.pagination-small-next:after {
  position: relative;
  top: -1px;
  right: 0;
  display: inline-block;
  margin-left: 6px;
  margin-right: 3px;
  color: #d80a30;
  font-size: 10px;
  content: "\f054";
  text-decoration: none;
  font-family: "FontAwesome";
}

.pagination-small a {
  font-size: 14px;
}



/*
  list
----------------------------------*/
/* list-ul */
.list-ul {
  margin-bottom: 15px;
}

.list-ul li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 1.2em;
  list-style: none;
}

.list-ul li:last-child {
  margin-bottom: 0;
}

.list-ul li:before {
  display: block;
  position: absolute;
  top: 0;
  left: 2px;
  content: "・";
}

/* list-ul no-icon */
.list-ul.no-icon li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 0;
  list-style: none;
}

.list-ul.no-icon li:last-child {
  margin-bottom: 0;
}

.list-ul.no-icon li:before {
  display: block;
  position: relative;
  content: "";
}

/* list-ul column-2 */
.list-ul.column-2 {
  font-size: 0;
}

.list-ul.column-2 li {
  display: inline-block;
  margin-right: 15px;
  width: calc((100% - 15px) / 2);
  vertical-align: top;
  font-size: 14px;
}

.list-ul.column-2 li:nth-child(even) {
  margin-right: 0;
}

/* list-ol */
.list-ol {
  margin: 0 0 15px 24px;
}

.list-ol li {
  margin-bottom: 8px;
}

.list-ol li:last-child {
  margin-bottom: 0;
}

/* faq-list */
.faq-list {
  margin-bottom: 15px;
}

.faq-list dt {
  position: relative;
  padding: 15px 15px 15px 45px;
  border-top: 1px solid #e04b66;
  border-bottom: 1px dotted #ccc;
}

.faq-list dt:before {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "Q.";
  font-weight: bold;
}

.faq-list dd {
  position: relative;
  padding: 15px 15px 0 45px;
}

.faq-list dd:before {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "A.";
  color: #e04b66;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .faq-list dt {
    padding: 10px 5px 10px 30px;
  }

  .faq-list dd {
    padding: 10px 5px 0 30px;
  }

  .faq-list dt:before,
  .faq-list dd:before {
    top: 10px;
    left: 5px;
  }
}


/*
  block-prospect
----------------------------------*/
.block-prospect a {
  position: relative;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
  width: 980px;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .block-prospect a {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .block-prospect a {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .block-prospect a:hover {
    opacity: .8;
    transition: all 0.4s;
  }

  .block-prospect a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 0 solid rgba(255,255,255,0.2);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all 0.2s;
  }

  .block-prospect a:hover:before {
    border-width: 10px;
  }
}

.block-prospect-thumbnail {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .block-prospect-thumbnail {
    display: none;
  }
}

.block-prospect-thumbnail li {
  display: inline-block;
  width: 33.33%;
  list-style: none;
}

.block-prospect-thumbnail li img {
  width: 100%;
  overflow: hidden;
}

.block-prospect-btn {
  display: table-cell;
  padding: 0 30px;
  width: 50%;
  vertical-align: middle;
  background: #e98194;
}

@media screen and (max-width: 767px) {
  .block-prospect-btn {
    display: block;
    padding: 20px;
    width: 100%;
  }
}

.block-prospect-btn em {
  position: relative;
  display: block;
  border: 1px solid #fff;
  padding: 15px 20px;
  text-align: center;
  line-height: 1;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  background: #e66980;
}

@media screen and (max-width: 767px) {
  .block-prospect-btn em {
    font-size: 15px;
  }
}

.block-prospect-btn em:before {
  position: relative;
  top: 0;
  left: -2em;
  display: inline-block;
  margin-left: 3px;
  margin-right: 6px;
  content: "\f054";
  font-family: "FontAwesome";
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .block-prospect-btn em:before {
    top: 1px;
    left: -0.5em;
    font-size: 17px;
  }
}


/*
  block-open-campus
----------------------------------*/
.block-open-campus {
  background: url("/univ/resources/img/common/bg_04.png") 0 0 repeat;
  background-size: 10px 10px;
}

.block-open-campus a {
  position: relative;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
  padding: 15px 0;
  width: 980px;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .block-open-campus a {
    width: 950px;
  }
}

@media screen and (max-width: 767px) {
  .block-open-campus a {
    display: block;
    width: 100%;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .block-open-campus a:hover {
    opacity: .8;
    transition: all 0.4s;
  }

  .block-open-campus a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 0 solid rgba(255,255,255,0.5);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all 0.2s;
  }

  .block-open-campus a:hover:before {
    border-width: 10px;
  }
}

.block-open-campus-title {
  display: table-cell;
  padding-left: 70px;
  width: 50%;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .block-open-campus-title {
    display: block;
    padding: 0 20px;
    width: 100%;
  }

  .block-open-campus-title img {
    width: 100%;
  }
}

.block-open-campus-btn {
  display: table-cell;
  padding: 0 30px;
  width: 50%;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .block-open-campus-btn {
    display: block;
    padding: 20px;
    width: 100%;
  }
}

.block-open-campus-btn em {
  position: relative;
  display: block;
  border: 1px solid #ccc;
  padding: 15px 20px;
  text-align: center;
  line-height: 1;
  color: #666;
  font-size: 18px;
  font-style: normal;
  background: #fec;
}

@media screen and (max-width: 767px) {
  .block-open-campus-btn em {
    padding: 15px 10px;
    font-size: 15px;
  }
}

.block-open-campus-btn em:before {
  position: relative;
  top: 0;
  left: -0.5em;
  display: inline-block;
  margin-left: 3px;
  margin-right: 6px;
  content: "\f054";
  font-family: "FontAwesome";
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .block-open-campus-btn em:before {
    top: 1px;
    left: -0.3em;
    font-size: 17px;
  }
}


/*
  block-information
----------------------------------*/
.block-information {
  position: relative;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .block-information {
    margin-bottom: 130px !important;
  }
}

.block-information-head:before,
.block-information-head:after {
  content: " ";
  display: table;
}

.block-information-head:after {
  clear: both;
}

.block-information-title {
  float: left;
  margin-bottom: 12px;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .block-information-title {
    float: none;
    margin-bottom: 15px;
    font-size: 20px;
  }
}

.block-information-btn {
  float: right;
}

@media screen and (max-width: 767px) {
  .block-information-btn {
    position: absolute;
    bottom: -70px;
    float: none;
    width: calc(100% - 30px);
  }

  .block-information-head .btn-base {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
}

.block-information a {
  text-decoration: none;
}

.block-information-list a:hover span {
  text-decoration: none;
}

.block-information-list a:hover em {
  text-decoration: underline;
}

.block-information-list {
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .block-information-list {
    margin-bottom: 100px;
  }
}

.block-information-list li {
  display: inline-block;
  margin-top: 10px;
  width: 50%;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .block-information-list li {
    display: block;
    margin-top: 16px;
    width: 100%;
    font-size: 12px;
  }

  .block-information-list li:first-child {
    margin-top: 0;
  }
}

.block-information-list span {
  display: inline-block;
  margin-right: 10px;
  width: auto;
  vertical-align: top;
  color: #444;
}

@media screen and (max-width: 767px) {
  .block-information-list span {
    display: block;
    width: auto;
    font-size: 13px;
  }
}

.block-information-list .icon {
  margin-top: 3px;
}

.block-information-list em {
  display: inline-block;
  padding-right: 15px;
  width: calc(100% - 95px);
  vertical-align: top;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

@media screen and (max-width: 767px) {
  .block-information-list em {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
  }
}


/*
  news-list
----------------------------------*/
.news-list {
  margin-bottom: 15px;
}

.news-list li {
  border-bottom: 1px dotted #ccc;
  list-style: none;
}

.news-list li a {
  display: inline-block;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .news-list li a {
    display: block;
    padding: 10px 5px 10px 10px;
  }
}

.news-list li a:hover {
  text-decoration: none;
}

.news-list span {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.news-list .icon {
  margin-top: 3px;
}

.news-list em {
  position: relative;
  display: block;
  margin-top: 5px;
  padding-left: 14px;
}

.news-list em:before {
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  content: "\f054";
  text-decoration: none;
  color: #d80a30;
  font-family: "FontAwesome";
  font-size: 70%;
}

.news-list a:hover em {
  text-decoration: underline;
}


/*
  news icon
----------------------------------*/
.icon {
  width: auto !important;
  padding: 2px 7px;
  line-height: 1;
  color: #fff !important;
  font-size: 10px !important;
}

@media screen and (max-width: 767px) {
  .icon {
    padding: 3px 7px 2px 7px;
  }
}

.icon.icon-new {
  background: #df8190;
}

.icon.icon-important {
  background: #e8374a;
}

.icon.icon-library {
  background: #e8374a;
}

.icon.icon-museum {
  background: #9797E4;
}

.icon.icon-shinri {
  background: #e8374a;
}

.icon.icon-blog {
  background: #e8374a;
}

.icon.icon-admission {
  background: #e8374a;
}

.icon.icon-gakuen {
  background: #d80a30;
}

.icon.icon-univ {
  background: #989789;
}

.icon.icon-jh {
  background: #d3a780;
}


/*
  accordion
----------------------------------*/
.js-syncer-acdn-container {
  margin-bottom: 30px;
}

.js-syncer-acdn.active.btn-icon-plus-circle:before {
  content: "\f056";
}

.js-syncer-acdn:hover {
  cursor: pointer;
}

.js-syncer-acdn-contents {
  display: none;
  padding-top: 10px;
}


/*
  tabs
----------------------------------*/
.tab-menu {
  font-size: 0;
}

.tab-menu li {
  display: inline-block;
  margin-right: 2px;
  border-top: 2px solid #ccc;
  vertical-align: middle;
  text-align: center;
  line-height: 1.4;
  font-size: 16px;
  background: #f6f6f6;
}

@media screen and (max-width: 767px) {
  .tab-menu li {
    font-size: 14px;
  }
}

.tab-menu li:last-child {
  margin-right: 0;
}

.tab-menu li.js-show {
  border-top: 2px solid #d80a30;
  color: #d80a30;
  cursor: pointer;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .tab-menu li:hover {
    border-top: 2px solid #d80a30;
    color: #d80a30;
    cursor: pointer;
    background: #fff;
    transition: all .6s;
  }
}

.tab-menu li span {
  position: relative;
  display: block;
  top: 50%;
  padding: 10px 7px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .tab-menu li span {
    padding: 7px;
  }
}

.tab-contents {
  margin-bottom: 15px;
}

.tab-contents-container {
  padding-top: 20px;
  background: #fff;
}

.tab-contents-container *:first-child {
  margin-top: 0 !important;
}

/* tab-menu column pattern */
/* column-2 */
.tab-menu.column-2 li {
  width: calc((100% - 2px) / 2);
}

/* column-3 */
.tab-menu.column-3 li {
  width: calc((100% - 4px) / 3);
}

/* column-4 */
.tab-menu.column-4 li {
  width: calc((100% - 6px) / 4);
}

/* column-8 */
.tab-menu.column-8 li {
  width: calc((100% - 14px) / 8);
}

@media screen and (max-width: 767px) {
  .tab-menu.column-8 li {
    width: calc((100% - 6px) / 4);
  }

  .tab-menu.column-8 li:nth-child(4n) {
    margin-right: 0;
  }
}


/*
  Google Map
----------------------------------*/
.google-map {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#google-map-myogadani,
#google-map-niiza,
.google-map iframe,
.google-map object,
.google-map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*
  helper
----------------------------------*/
/* text-align */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media screen and (min-width: 768px) {
  .text-left-lgview {
    text-align: left !important;
  }

  .text-right-lgview {
    text-align: right !important;
  }

  .text-center-lgview {
    text-align: center !important;
  }
}

@media screen and (max-width: 767px) {
  .text-left-smview {
    text-align: left !important;
  }

  .text-right-smview {
    text-align: right !important;
  }

  .text-center-smview {
    text-align: center !important;
  }
}

/* hidden */
@media screen and (min-width: 768px) {
  .hidden-lgview {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden-smview {
    display: none !important;
  }
}

/* width */
.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.width-65 {
  width: 65%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.width-85 {
  width: 85%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}
