<!--[if lt IE 9]>
<script src="/resources/js/lib/css3-mediaqueries.js"></script>
<script src="/resources/js/lib/html5shiv-printshiv.js"></script>
<![endif]-->
<script src="/resources/js/lib/jquery-1.11.1.min.js"></script>
<script src="/resources/js/common/base/common.js"></script>
