@charset "UTF-8";
/*
  faculty
--------------------------------------------- */

/*faclty 全学共通科目*/
.faclty-feature-bg-color-01 {
  background-color: #F7E9ED;
}

.faclty-feature-bg-color-02 {
  background-color: #E3ECF8;
}

.faclty-feature-bg-color-03 {
  background-color: #E0EFDA;
}

.faclty-feature-bg-color-04 {
  background-color: #E7DBEE;
}

.faclty-feature-bg-color-05 {
  background-color: #FCF3B8;
}

.faclty-feature-curriculum-list {
  list-style: none;
}

.faclty-feature-curriculum-list li {
  display: inline;
  margin-right: 1em;
}

table.faclty-feature-table .table-class-list li {
  margin-right: 5%;
  vertical-align: top;
  font-size: 12px;
}
table.faclty-feature-table ul.table-float-list {
  float: left;
  margin-bottom: 0 !important;
}

table.faclty-feature-table .td-2col.table-class-list > li  {
  vertical-align: middle;
  display: inline-block;
  width: 44%;
  margin-right: 3px;
  vertical-align: top;
}

table.faclty-feature-table .td-3col.table-class-list > li  {
  vertical-align: middle;
  display: inline-block;
  width: 29%;
  margin-right: 2%;
  vertical-align: top;
}

table.faclty-feature-table .td-4col.table-class-list > li  {
  vertical-align: middle;
  display: inline-block;
  width: 20%;
  margin-right: 2%;
  vertical-align: top;
}

table.faclty-feature-table td.table-border-top {
  border-top: 1px solid #ccc;
}

table.faclty-feature-table td.table-border-none {
  border-right: 0;
  border-bottom: 0;
}

/*faclty 観光コミュニティ学部*/
.tourist-community-imgclm {
  width: 100%;
  overflow: hidden;
}
.tourist-community-imgclm > img {
  float: left;
  width: 50%;
}
