<?php

date_default_timezone_set('Asia/Tokyo');

include_once('rss_lib.php');

$rss_path = 'http://www.atomi.ac.jp/univ/feed/?post_type=univ_news';

$rss = new RssParser($rss_path);

?>

<?php if (!empty($rss->items)) { ?>
    <?php foreach (array_slice($rss->items, 0, 6) as $item) { ?>
      <li>
        <a href="<?php echo $item->link; ?>">
          <span><?php echo date('Y/m/d', strtotime($item->pubDate)); ?></span><?php
                if ($item->is_new == '1') {
                  echo '<span class="icon icon-new">NEW</span>';
                }
                switch ($item->icon) {
                  case 'important':
                    echo '<span class="icon icon-important">重要なお知らせ</span>';
                    break;
                  case 'library':
                    echo '<span class="icon icon-library">図書館</span>';
                    break;
                  case 'museum':
                    echo '<span class="icon icon-museum">花蹊記念資料館</span>';
                    break;
                  case 'shinri':
                    echo '<span class="icon icon-shinri">心理教育相談</span>';
                    break;
                }
              ?>
          <em>
            <?php echo $item->title; ?>
          </em>
        </a>
      </li>
    <?php } ?>
<?php } ?>
