@charset "UTF-8";
/*
  life
--------------------------------------------- */
/*activity クラブ・サークル活動*/
.activity-imgclm {
  width: 100%;
  overflow: hidden;
}
.activity-imgclm > img {
  float: left;
  width: 50%;
}
