<!-- [ global-footer ] -->
<footer id="global-footer">

<div class="gft-sitemap">
<div class="gft-sitemap-container">
<div class="gft-sitemap-column">
<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/progress/">跡見学園の歩み</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/progress/atomikakei/">学祖・跡見花蹊</a></li>
<li><a href="/progress/atomikakei/movie.html">理事長 山崎 一穎による講義映像</a></li>
<li><a href="/progress/philosophy/">学園理念</a></li>
<li><a href="/progress/history/">学園沿革（歴史）</a></li>
<li><a href="/progress/visual_identity/">跡見学園の校章と校歌・制服</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/about/">学園紹介</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/about/message/">理事長メッセージ</a></li>
<li><a href="/about/organization_education/">学園組織と役員</a></li>
<li><a href="/about/jh/">学校紹介</a></li>
<li><a href="/about/facilities/">校外施設</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/information/">運営に関する情報公開</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/information/business/">事業・財務情報</a></li>
<li><a href="/information/number_or_students/">学園の在籍者数</a></li>
<li><a href="/information/education/">教育情報の公表</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/pr/">学園広報</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/pr/magazine/">学園情報誌「Blossom」</a></li>
<li><a href="/pr/magazine/backnumber.html">学園情報誌「Blossom」バックナンバー</a></li>
<li><a href="/pr/books/">学園関連書籍</a></li>
<li><a href="/pr/symbol/">コミュニケーションシンボル</a></li>
<li><a href="/pr/goods/">学園グッズのご紹介</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/contribution/">学園へのご寄付</a></div>
<ul class="gft-sitemap-link-list">
<li><a href="/contribution/1/">教育環境充実資金募金</a></li>
<li><a href="/contribution/2/">遺贈</a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title">関連施設</div>
<ul class="gft-sitemap-link-list">
<li><a href="/univ/library/" target="_blank">図書館<span class="link-external-inline"></span></a></li>
<li><a href="/univ/museum/" target="_blank">花蹊記念資料館<span class="link-external-inline"></span></a></li>
<li><a href="/univ/shinri/" target="_blank">心理学教育相談所<span class="link-external-inline"></span></a></li>
<li><a href="dummy" target="_blank">旧伊勢屋質店（菊坂跡見塾）<span class="link-external-inline"></span></a></li>
<li><a href="/univ/about/campus/mediacenter.html" target="_blank">情報メディアセンター<span class="link-external-inline"></span></a></li>
</ul>
</div><!-- /.gft-sitemap-column-item -->

<div class="gft-sitemap-column-item">
<div class="gft-sitemap-title"><a href="/gakuen/news/">お知らせ</a></div>
</div><!-- /.gft-sitemap-column-item -->
</div><!-- /.gft-sitemap-column -->
</div><!-- /.gft-sitemap-container -->
</div><!-- /.gft-sitemap -->

<div class="gft-utility">
<div class="gft-utility-container">
<ul class="gft-nav-utility-01">
<li><a href="/univ/about/campus/access.html">アクセス</a></li>
<li><a href="/univ/about/campus/bus/">バスダイヤ</a></li>
<li><a href="/univ/">大学トップへ</a></li>
<li><a href="/univ/inquiry/">お問い合わせ</a></li>
<li class="nav-full"><a href="/univ/request/">資料請求・願書</a></li>
</ul>

<div class="gft-column">
<div class="column-item gft-logo">
<a href="/"><img src="/resources/img/common/logo_01.png" alt="学校法人 跡見学園"></a>
</div><!-- /.column-item -->
<div class="gft-campus">〒112-8629 東京都文京区大塚1-5-9 / <br class="hidden-lgview">TEL 03-3941-8161（代表）</div>
</div><!-- /.gft-column -->

<ul class="gft-nav-utility-02">
<li><a href="/univ/" target="_blank">跡見学園女子大学<span class="link-external-inline"></span></a></li>
<li><a href="/jh/" target="_blank">跡見学園中学校高等学校<span class="link-external-inline"></span></a></li>
<li><a href="/privacy/">プライバシーポリシー</a></li>
<li><a href="/policy/">このサイトについて</a></li>
</ul>

<small class="gft-copy">ATOMI GAKUEN All rights reserved.<br class="hidden-lgview">Never reporoduce or republicate without written permission.</small>

<div class="gft-page-top"><a href="#global-header">TOP</a></div>
</div><!-- /.gft-utility-container -->
</div><!-- /.gft-utility -->
</footer>
<!-- / [ global-footer ] -->
