<!-- [ global-header ] -->
<header id="global-header">
<div class="ghd-logo">
<a href="/">
<img src="/resources/img/common/logo_02.png" width="192" alt="学校法人 跡見学園" class="hidden-smview">
<img src="/resources/img/common/logo_02.png" width="195" alt="学校法人 跡見学園" class="hidden-lgview">
</a>
</div><!-- /.ghd-logo -->

<div class="ghd-menu-btn">
<a href="#">MENU</a>
</div><!-- /.ghd-menu-btn -->

<div class="ghd-container-01">

<div class="ghd-nav-container">
<ul class="ghd-nav-inquiry hidden-smview">
<li><a href="/inquiry/">お問い合わせ</a></li>
</ul>
</div><!-- /.ghd-nav-container -->

<div class="ghd-container-02">
<nav class="ghd-nav-global">
<ul>
<li class="ghd-nav-progress"><a href="#" class="directory-second has-child">跡見学園の歩み</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/progress/">跡見学園の歩み<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_01.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/progress/atomikakei/"><span>学祖・跡見花蹊</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_02.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/progress/philosophy/"><span>学園理念</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/progress/history/" class="directory-third has-child"><span>学園沿革（歴史）</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_03.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/progress/history/">学園沿革（歴史）ページ</a></li>
<li><a href="/progress/history/">学園沿革〜年表〜</a></li>
<li><a href="/progress/history/002.html">戦後の復興～そして現在へ</a></li>
<li><a href="/progress/history/001.html">明治期～大正・昭和初期</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/progress/visual_identity/" class="directory-third has-child"><span>跡見学園の校章と校歌・制服</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_04.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/progress/visual_identity/">跡見学園の校章と校歌・制服ページ</a></li>
<li><a href="/progress/visual_identity/">跡見学園の校章</a></li>
<li><a href="/progress/visual_identity/uniform.html">制服</a></li>
<li><a href="/progress/visual_identity/song.html">校歌</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li class="ghd-nav-about"><a href="#" class="directory-second has-child">学園紹介</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/about/">学園紹介<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_05.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/about/message/"><span>理事長メッセージ</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_06.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/about/organization_education/"><span>学園組織と役員</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-ratio">
<div class="nav-global-box-item ratio-large">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large"><a href="/about/jh/" class="directory-third has-child"><span>学校紹介</span></a></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_07.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<ul class="nav-global-box-page-title gutter-narrow">
<li class="hidden-lgview"><a href="/about/jh/">学校紹介ページ</a></li>
<li><a href="/about/jh/">跡見学園中学校高等学校</a></li>
<li><a href="/about/univ/">跡見学園女子大学・大学院</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item ratio-small vertical-middle">
<div class="nav-global-box-content separately-gutter-02">
<div class="nav-global-box-heading-large"><a href="/about/facilities/"><span>校外施設</span></a></div>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li class="ghd-nav-information"><a href="#" class="directory-second has-child">運営に関する情報公開</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/information/">運営に関する情報公開<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-3">
<div class="nav-global-box-item">
<div class="nav-global-box-content separately-gutter-03">
<div class="nav-global-box-heading-large"><a href="/information/business/"><span>事業・財務情報</span></a></div>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-content separately-gutter-03">
<div class="nav-global-box-heading-large"><a href="/information/number_or_students/"><span>学園の在籍者数</span></a></div>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item">
<div class="nav-global-box-content separately-gutter-03">
<div class="nav-global-box-heading-large"><a href="/information/education/"><span>教育情報の公表</span></a></div>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item">
<div class="nav-global-box-content separately-gutter-03">
<div class="nav-global-box-heading-large"><a href="dummy" target="_blank"><span>跡見学園女子大学情報公開（大学サイトへ）</span><span class="link-external-inline icon-red"></span></a></div>
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li class="ghd-nav-pr"><a href="#" class="directory-second has-child">学園広報</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/pr/">学園広報<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_08.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/pr/magazine/" class="directory-third has-child"><span>学園情報誌「Blossom」</span></a></div>
<ul class="nav-global-box-page-title">
<li class="hidden-lgview"><a href="/pr/magazine/">学園情報誌「Blossom」ページ</a></li>
<li><a href="/pr/magazine/backnumber.html">学園情報誌「Blossom」バックナンバー</a></li>
</ul>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_09.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/pr/books/"><span>学園関連書籍</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_10.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/pr/symbol/"><span>コミュニケーションシンボル</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_11.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/pr/goods/"><span>学園グッズのご紹介</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

<div class="nav-global-box nav-global-box-1">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-head">
<div class="nav-global-box-heading-large no-link directory-third has-child"><span>特設サイト</span></div>
</div><!--/.nav-global-box-head-->
<div class="nav-global-box-content nav-unique-gakuen-hyakunin">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_12.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="http://atdailib2.atomi.ac.jp/repo/repository/hyakunin/" target="_blank"><span>跡見学園女子大学図書館　百人一首コレクション</span><span class="link-external-inline icon-red"></span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>


<li class="ghd-nav-contribution"><a href="#" class="directory-second has-child">学園へのご寄付</a>
<div class="nav-global-content">
<div class="nav-global-content-container">

<div class="nav-global-content-title"><a href="/contribution/">学園へのご寄付<span class="hidden-lgview">ページ</span></a></div>

<div class="nav-global-content-close"><a href="#">閉じる</a></div>

<div class="nav-global-box nav-global-box-2">
<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_13.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/contribution/1/"><span>教育環境充実資金募金</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->

<div class="nav-global-box-item vertical-middle">
<div class="nav-global-box-content">
<div class="nav-global-box-thumbnail">
<img src="/resources/img/common/megamenu_img_14.jpg" width="100" height="75" alt="">
</div><!-- /.nav-global-box-thumbnail -->
<div class="nav-global-box-text">
<div class="nav-global-box-heading-large"><a href="/contribution/2/"><span>遺贈</span></a></div>
</div><!-- /.nav-global-box-text -->
</div><!-- /.nav-global-box-content -->
</div><!-- /.nav-global-box-item -->
</div><!-- /.nav-global-box -->

</div><!-- /.nav-global-content-container -->
</div><!-- /.nav-global-content -->
</li>
</ul>
</nav>

<ul class="ghd-nav-news hidden-lgview">
<li><a href="/gakuen/news/">お知らせ</a></li>
</ul>

<ul class="ghd-nav-inquiry hidden-lgview">
<li><a href="/inquiry/">お問い合わせ</a></li>
</ul>

</div><!-- /.ghd-container-02 -->
</div><!-- /.ghd-container-01 -->
</header><!-- / [ global-header ] -->
