<meta property="og:type" content="website">
<meta property="og:image" content="/resources/img/common/ogimage.png">
<meta property="og:site_name" content="跡見学園">
<meta property="og:locale" content="ja_JP">
