@charset "UTF-8";

/*
  ACTIVITY
--------------------------------------------- */
/* article-tags */
.article-tags {
  margin-bottom: 5px;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .article-tags {
    margin-bottom: 13px;
  }
}

.article-tags li {
  display: inline-block;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .article-tags li {
    margin-bottom: 10px;
    margin-right: 10px;
    width: calc((100% - 50px) / 6);
  }

  .article-tags li:nth-child(6n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .article-tags li {
    margin-bottom: 7px;
    margin-right: 7px;
    width: calc((100% - 21px) / 4);
  }

  .article-tags li:nth-child(4n) {
    margin-right: 0;
  }
}

.article-tags li a {
  display: block;
  padding: 6px 0;
  border: 2px solid #e04b66;
  text-align: center;
  line-height: 1;
  color: #e04b66;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .article-tags li a {
    padding: 14px 0;
    border: 1px solid #e04b66;
    font-size: 12px;
  }
}

.article-tags li a:hover {
  text-decoration: none;
}

.article-tags li a.current {
  text-decoration: none;
  color: #fff;
  background: #e04b66;
}

@media screen and (min-width: 768px) {
  .article-tags li a:hover {
    text-decoration: none;
    color: #fff;
    background: #e04b66;
    transition: all 0.4s;
  }
}

/* article-list */
.article-list {
  font-size: 0;
}

/* article-list-item */
.article-list-item {
  display: inline-block;
  margin: 25px 25px 0 0;
  width: calc((100% - 50px) / 3);
  vertical-align: top;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .article-list-item:nth-child(3n) {
    margin-right: 0;
  }

  .article-list-item:nth-child(1),
  .article-list-item:nth-child(2),
  .article-list-item:nth-child(3) {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .article-list-item {
    display: block;
    margin: 0 0 20px 0;
    width: 100%;
    border: 1px solid #ccc;
  }
}

.article-list-item a {
  display: block;
  padding-bottom: 15px;
  font-size: 0;
  background: #fff;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .article-list-item a {
    padding-bottom: 13px;
  }
}

.article-list-item a:hover {
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
  text-decoration: none;
  transition: all 0.4s;
}

.article-list-item .article-list-thumbnail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 0 solid rgba(255,255,255,0.25);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.2s;
}

.article-list-item a:hover .article-list-thumbnail:before {
  border-width: 10px;
}

.article-list-item a:hover .article-list-thumbnail img {
  opacity: .8;
}

/* article-list-thumbnail */
.article-list-thumbnail {
  position: relative;
}

.article-list-thumbnail img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .article-list-thumbnail {
    margin: -1px;
  }
}

/* article-list-text */
.article-list-text {
  font-size: 14px;
}

/* article-list-small-text */
.article-list-small-text {
  margin: 9px 0 7px 0;
  padding: 0 15px;
  color: #e04b66;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .article-list-small-text {
    font-size: 11px;
  }
}

/* article-list-title */
.article-list-title {
  margin: 0 15px 10px 15px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  font-size: 14px;
  font-weight: normal;
}

/* article-list-tags */
.article-list-tags {
  position: relative;
  margin-left: -4px;
  padding: 0 15px;
  overflow: hidden;
  font-size: 0;
}

.article-list-tags li {
  display: inline-block;
  margin: 0 0 4px 4px;
  padding: 3px;
  border: 1px solid #ebb6bf;
  line-height: 1;
  color: #e04b66;
  font-size: 12px;
}

/* article-detail-date */
.article-detail-date {
  margin-bottom: 5px;
  color: #e04b66;
}

@media screen and (max-width: 767px) {
  .article-detail-date {
    font-size: 13px;
  }
}

/* article-detail-tags */
.article-detail-tags {
  position: relative;
  margin: -10px 0 0 -10px;
  overflow: hidden;
  font-size: 0;
}

.article-detail-tags li {
  display: inline-block;
  margin: 10px 0 0 10px;
  padding: 4px 22px;
  line-height: 1;
  color: #fff;
  font-size: 12px;
  background: #e04b66;
}

@media screen and (max-width: 767px) {
  .article-detail-tags li {
    padding: 4px 15px;
    font-size: 11px;
  }
}

/* article-main */
.article-main a {
  text-decoration: underline;
}

.article-main a:hover {
  text-decoration: none;
}

/* related-article , recommend-article*/
.related-article,
.recommend-article {
  margin-bottom: 15px;
  padding-top: 45px;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
  .related-article,
  .recommend-article {
    margin: 25px 0;
    padding-top: 25px;
  }
}

.related-article .link-chevron-right-list li {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .related-article .link-chevron-right-list li {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .recommend-article .article-list-item {
    border: none;
  }

  .recommend-article .article-list-item a {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .recommend-article .article-list-thumbnail {
    display: table-cell;
    padding-top: 3px;
    width: 40%;
    vertical-align: top;
  }

  .recommend-article .article-list-text {
    display: table-cell;
    padding-left: 10px;
    width: 60%;
    vertical-align: top;
  }

  .recommend-article .article-list-small-text {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .recommend-article .article-list-tags {
    padding-left: 0;
    padding-right: 0;
  }

  .recommend-article .article-list-title {
    margin-left: 0;
    margin-right: 0;
    line-height: 1.4;
  }
}
