@charset "UTF-8";

/*
  HEADER:prospect
--------------------------------------------- */
#global-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 259px;
}

@media screen and (max-width: 767px) {
  #global-header {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .ghd-logo {
    float: left;
    margin: 13px 0 12px 15px;
  }
}

@media screen and (min-width: 341px) and (max-width: 767px) {
  .univ .ghd-logo img {
    width: 193px;
    height: auto;
  }

  .jh .ghd-logo img {
    width: 252px;
    height: auto;
  }
}

@media screen and (max-width: 340px) {
  .univ .ghd-logo {
    margin-top: 15px;
    margin-left: 10px;
  }

  .jh .ghd-logo {
    margin-bottom: 15px;
  }

  .univ .ghd-logo img {
    width: 180px;
    height: auto;
  }

  .jh .ghd-logo img {
    width: 230px;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .ghd-btn-access,
  .ghd-btn-home,
  .ghd-access-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .ghd-btn-access,
  .ghd-btn-home {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  .ghd-btn-access {
    right: 67px;
  }

  .ghd-btn-home {
    right: 6px;
  }

  .ghd-btn-access a,
  .ghd-btn-home a {
    position: relative;
    display: block;
    padding-top: 14px;
    width: 55px;
    height: 52px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 9px;
    background: #e8374a;
  }

  .ghd-btn-access a:after {
    position: absolute;
    display: inline-block;
    bottom: 4px;
    left: 50%;
    margin-left: -5px;
    line-height: 1;
    content: "\f078";
    text-decoration: none;
    font-family: "FontAwesome";
  }

  .ghd-btn-access a.open {
    background: #e86c83;
  }

  .ghd-access-list {
    position: absolute;
    top: 58px;
    padding: 15px;
    width: 100%;
    font-size: 0;
    background: #e86c83;
  }

  .ghd-access-list li {
    display: inline-block;
    margin-right: 15px;
    width: calc((100% - 15px) / 2);
    list-style: none;
    font-size: 14px;
  }

  .ghd-access-list li:last-child {
    margin-right: 0;
  }

  .ghd-access-list li a {
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: #e8374a;
    font-weight: bold;
    background: #fff;
  }
}

#global-header h1 {
  padding: 32px 0;
  text-align: center;
  background: #f0f0f0;
}

@media screen and (max-width: 767px) {
  #global-header h1 {
    clear: both;
    padding: 17px 0;
  }
}

/* ghd-nav-page */
.ghd-nav-page a {
  display: block;
  padding-top: 15px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.ghd-nav-page a:hover {
  opacity: .7;
  transition: all .6s;
}

/* nav color:univ */
.univ .ghd-nav-page .nav-appeal a {
  background: #e9546b;
}

.univ .ghd-nav-page .nav-event a {
  background: #f19072;
}

.univ .ghd-nav-page .nav-examination a {
  background: #a9d159;
}

/* nav color:jh */
.jh .ghd-nav-page .nav-appeal a {
  background: #e597b2;
}

.jh .ghd-nav-page .nav-event a {
  background: #cc7eb1;
}

.jh .ghd-nav-page .nav-examination a {
  background: #b9d08b;
}

@media screen and (max-width: 767px) {
  .ghd-nav-page {
    font-size: 0;
  }

  .ghd-nav-page li {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
  }

  .ghd-nav-page a {
    height: auto;
    line-height: 1.4;
  }

  .univ .ghd-nav-page a {
    padding: 12px 5px;
    font-size: 14px;
  }

  .univ .ghd-nav-page .nav-appeal a {
    padding-top: 21px;
  }

  .univ .ghd-nav-page .nav-examination a {
    padding-top: 31px;
  }

  .jh .ghd-nav-page a {
    padding: 25px 5px;
    font-size: 15px;
  }
}

/* ghd-nav-utility */
.ghd-nav-utility {
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .ghd-nav-utility {
    display: none;
  }
}

.ghd-nav-utility li {
  display: inline-block;
  width: 50%;
  border-top: 1px solid #d8d8d8;
}

.ghd-nav-utility li:nth-child(odd) {
  border-right: 1px solid #d8d8d8;
}

.ghd-nav-utility li.nav-full {
  width: 100%;
  border-right: none;
}

.ghd-nav-utility a {
  display: block;
  padding-top: 16px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.ghd-nav-utility a:hover {
  opacity: .7;
  transition: all .4s;
}
