@charset "UTF-8";

/*
  MAIN:prospect
--------------------------------------------- */
body {
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-wrap: break-word;
  line-break: strict;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #444;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

@-ms-viewport {
  width: auto !important;
}


/*
  wrapper
----------------------------------*/
#wrapper {
  background: #fff url("/resources/img/global/prospect_bg_01.png") 0 0 repeat-y;
}

@media screen and (max-width: 767px) {
  #wrapper {
    background-image: none;
  }
}


/*
  main-content
----------------------------------*/
#main-content {
  margin: 0 0 0 260px;
}

@media screen and (min-width: 768px) {
  #main-content {
    min-width: 720px;
    max-width: 1340px;
  }
}

@media screen and (max-width: 767px) {
  #main-content {
    margin: 0;
    width: 100%;
    min-width: initial;
    max-width: initial;
  }
}

/* section color:univ */
.univ #section-appeal {
  background: #e9546b;
}

.univ #section-examination {
  background: #a9d159;
}

.univ #section-event {
  background: #f19072;
}

/* section color:jh */
.jh #section-appeal {
  background: #e597b2;
}

.jh #section-event {
  background: #cc7eb1;
}

.jh #section-examination {
  background: #b9d08b;
}

/* heading-lv-2 */
.heading-lv-2 {
  padding: 22px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 0 10px 12px -8px rgba(0,0,0,0.2);
  text-align: center;
}

.heading-lv-2 img {
  width: 352px;
}

@media screen and (max-width: 767px) {
  .heading-lv-2 {
    padding: 27px 0;
    box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.2);
  }

  .heading-lv-2 img {
    width: 285px;
  }
}

/* panels */
.panels {
  font-size: 0;
}

.panels-item {
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .panels-item {
    display: block !important;
    width: 100% !important;
  }
}

.panels-item a {
  position: relative;
  text-decoration: none;
  color: #fff;
  background-position: 0 0;
  background-repeat: repeat;
}

/* link area background color:univ */
.univ #section-appeal .panels-item a {
  background: #e9546b;
}

.univ #section-examination .panels-item a {
  background: #a9d159;
}

.univ #section-event .panels-item a {
  background: #f19072;
}

/* link area background color:jh */
.jh #section-appeal .panels-item a {
  background: #e597b2;
}

.jh #section-event .panels-item a {
  background: #cc7eb1;
}

.jh #section-examination .panels-item a {
  background: #b9d08b;
}

/* hover effect */
@media screen and (min-width: 768px) {
  .panels-item a:hover {
    opacity: .75;
    transition: all .4s;
  }

  .panels-item a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-width: 0;
    border-style: solid;
    z-index: 3;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* hover border color:univ */
  .univ #section-appeal .panels-item a:before {
    border-color: #e9546b;
  }

  .univ #section-examination .panels-item a:before {
    border-color: #a9d159;
  }

  .univ #section-event .panels-item a:before {
    border-color: #f19072;
  }

  /* hover border color:jh */
  .jh #section-appeal .panels-item a:before {
    border-color: #e597b2;
  }

  .jh #section-event .panels-item a:before {
    border-color: #cc7eb1;
  }

  .jh #section-examination .panels-item a:before {
    border-color: #b9d08b;
  }

  .panels-item a:hover:before {
    border-width: 1px;
  }

  .panels-1 .panels-item a:hover:before {
    -webkit-transform: scale(0.98, 0.96);
    transform: scale(0.98, 0.96);
  }

  .panels-2 .panels-item a:hover:before {
    -webkit-transform: scale(0.96, 0.96);
    transform: scale(0.96, 0.96);
  }

  .panels-3 .panels-item a:hover:before {
    -webkit-transform: scale(0.93, 0.93);
    transform: scale(0.93, 0.93);
  }

  .panels-4 .panels-item a:hover:before {
    -webkit-transform: scale(0.94, 0.88);
    transform: scale(0.94, 0.88);
  }

  .panels-banner.panels-item a:hover:before {
    -webkit-transform: scale(0.98, 0.96);
    transform: scale(0.98, 0.97);
  }

  .panels-item a:hover .panels-thumbnail img  {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .panels-banner.panels-item a:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@media screen and (max-width: 767px) {
  .panels-item a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    tap-highlight-color: rgba(255, 255, 255, 0.2);
  }
}

.panels-icon {
  position: absolute;
  top: 6px;
  z-index: 2;
}

.panels-thumbnail {
  width: 100%;
  overflow: hidden;
}

.panels-thumbnail img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.panels-heading {
  padding: 0 23px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .panels-heading {
    margin: 0 0 25px 0 !important;
    padding: 0 15px !important;
    min-height: 70px !important;
    font-size: 14px !important;
  }
}

.panels-tag {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -105px;
  padding: 2px 0;
  width: 210px;
  border: 1px solid rgba(255,255,255,0.5);
  text-align: center;
  font-size: 11px;
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
  .panels-tag {
    margin-left: -85px;
    width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .panels-tag {
    margin-left: -75px;
    width: 150px;
    font-size: 9px;
  }
}

/* panels-1 */
.panels-1 .panels-item {
  width: 100%;
}

.panels-1 .panels-item a {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* background-image:univ */
.univ #section-appeal .panels-1 .panels-item a {
  background-image: url("/univ/resources/img/prospect/bg_01.png");
  background-size: 7px 7px;
}

.univ #section-event .panels-1 .panels-item a {
  background-image: url("/univ/resources/img/prospect/bg_02.png");
  background-size: 24px 24px;
}

.univ #section-examination .panels-1 .panels-item a {
  background-image: url("/univ/resources/img/prospect/bg_03.png");
  background-size: 12px 12px;
}

/* background-image:jh */
.jh #section-appeal .panels-1 .panels-item a {
  background-image: url("/jh/resources/img/prospect/bg_01.png");
  background-size: 7px 7px;
}

.jh #section-event .panels-1 .panels-item a {
  background-image: url("/jh/resources/img/prospect/bg_02.png");
  background-size: 24px 24px;
}

.jh #section-examination .panels-1 .panels-item a {
  background-image: url("/jh/resources/img/prospect/bg_03.png");
  background-size: 12px 12px;
}

.panels-1 .panels-thumbnail {
  display: table-cell;
  width: 66.666%;
}

.panels-1 .panels-text {
  position: relative;
  display: table-cell;
  width: 33.334%;
  vertical-align: middle;
}

.panels-1 .panels-heading {
  margin-top: -20px;
  padding: 0 50px;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .panels-1 .panels-item a {
    display: block;
  }

  .panels-1 .panels-thumbnail {
    width: 50%;
  }

  .panels-1 .panels-text {
    width: 50%;
  }
}

/* panels-2 */
.panels-2 .panels-item {
  width: 50%;
}

.panels-2 .panels-item a {
  position: relative;
  display: block;
  padding-bottom: 20px;
}

/* background-image:univ */
.univ #section-appeal .panels-2 .panels-item:nth-child(even) a {
  background-image: url("/univ/resources/img/prospect/bg_01.png");
  background-size: 7px 7px;
}

.univ #section-event .panels-2 .panels-item:nth-child(even) a {
  background-image: url("/univ/resources/img/prospect/bg_02.png");
  background-size: 24px 24px;
}

.univ #section-examination .panels-2 .panels-item:nth-child(even) a {
  background-image: url("/univ/resources/img/prospect/bg_03.png");
  background-size: 12px 12px;
}

/* background-image:jh */
.jh #section-appeal .panels-2 .panels-item:nth-child(even) a {
  background-image: url("/jh/resources/img/prospect/bg_01.png");
  background-size: 7px 7px;
}

.jh #section-event .panels-2 .panels-item:nth-child(even) a {
  background-image: url("/jh/resources/img/prospect/bg_02.png");
  background-size: 24px 24px;
}

.jh #section-examination .panels-2 .panels-item:nth-child(even) a {
  background-image: url("/jh/resources/img/prospect/bg_03.png");
  background-size: 12px 12px;
}

.panels-2 .panels-thumbnail {
  margin-bottom: 25px;
}

.panels-2 .panels-heading {
  margin-bottom: 25px;
  padding: 0 40px;
  min-height: 65px;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .panels-2 .panels-item a {
    display: table;
    table-layout: fixed;
    padding: 0;
    width: 100%;
  }

  .panels-2 .panels-thumbnail {
    display: table-cell;
    margin-bottom: 0;
    width: 50%;
  }

  .panels-2 .panels-text {
    position: relative;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
}

/* panels-3 */
.panels-3 .panels-item {
  width: 33.333%;
}

.panels-3 .panels-item a {
  position: relative;
  display: block;
  padding-bottom: 20px;
}

/* background-image:univ */
.univ #section-appeal .panels-3 .panels-item:nth-child(even) a {
  background-image: url("/univ/resources/img/prospect/bg_01.png");
  background-size: 7px 7px;
}

.univ #section-event .panels-3 .panels-item:nth-child(even) a {
  background-image: url("/univ/resources/img/prospect/bg_02.png");
  background-size: 24px 24px;
}

.univ #section-examination .panels-3 .panels-item:nth-child(even) a {
  background-image: url("/univ/resources/img/prospect/bg_03.png");
  background-size: 12px 12px;
}

/* background-image:jh */
.jh #section-appeal .panels-3 .panels-item:nth-child(even) a {
  background-image: url("/jh/resources/img/prospect/bg_01.png");
  background-size: 7px 7px;
}

.jh #section-event .panels-3 .panels-item:nth-child(even) a {
  background-image: url("/jh/resources/img/prospect/bg_02.png");
  background-size: 24px 24px;
}

.jh #section-examination .panels-3 .panels-item:nth-child(even) a {
  background-image: url("/jh/resources/img/prospect/bg_03.png");
  background-size: 12px 12px;
}

.panels-3 .panels-thumbnail {
  margin-bottom: 25px;
}

.panels-3 .panels-heading {
  margin-bottom: 25px;
  min-height: 60px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .panels-3 .panels-item a {
    display: table;
    table-layout: fixed;
    padding: 0;
    width: 100%;
  }

  .panels-3 .panels-thumbnail {
    display: table-cell;
    margin-bottom: 0;
    width: 50%;
  }

  .panels-3 .panels-text {
    position: relative;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
}

/* panels-4 */
.panels-4 .panels-item {
  width: 50%;
}

.panels-4 .panels-item a {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* background-image:univ */
.univ #section-appeal .panels-4 .panels-item:nth-of-type(1) a,
.univ #section-appeal .panels-4 .panels-item:nth-of-type(4) a,
.univ #section-appeal .panels-4 .panels-item:nth-of-type(5) a,
.univ #section-appeal .panels-4 .panels-item:nth-of-type(8) a {
  background-image: url("/univ/resources/img/prospect/bg_01.png");
  background-size: 7px 7px;
}

.univ #section-event .panels-4 .panels-item:nth-of-type(1) a,
.univ #section-event .panels-4 .panels-item:nth-of-type(4) a,
.univ #section-event .panels-4 .panels-item:nth-of-type(5) a,
.univ #section-event .panels-4 .panels-item:nth-of-type(8) a {
  background-image: url("/univ/resources/img/prospect/bg_02.png");
  background-size: 24px 24px;
}

.univ #section-examination .panels-4 .panels-item:nth-of-type(1) a,
.univ #section-examination .panels-4 .panels-item:nth-of-type(4) a,
.univ #section-examination .panels-4 .panels-item:nth-of-type(5) a,
.univ #section-examination .panels-4 .panels-item:nth-of-type(8) a {
  background-image: url("/univ/resources/img/prospect/bg_03.png");
  background-size: 12px 12px;
}

/* background-image:jh */
.jh #section-appeal .panels-4 .panels-item:nth-of-type(1) a,
.jh #section-appeal .panels-4 .panels-item:nth-of-type(4) a,
.jh #section-appeal .panels-4 .panels-item:nth-of-type(5) a,
.jh #section-appeal .panels-4 .panels-item:nth-of-type(8) a {
  background-image: url("/jh/resources/img/prospect/bg_01.png");
  background-size: 7px 7px;
}

.jh #section-event .panels-4 .panels-item:nth-of-type(1) a,
.jh #section-event .panels-4 .panels-item:nth-of-type(4) a,
.jh #section-event .panels-4 .panels-item:nth-of-type(5) a,
.jh #section-event .panels-4 .panels-item:nth-of-type(8) a {
  background-image: url("/jh/resources/img/prospect/bg_02.png");
  background-size: 24px 24px;
}

.jh #section-examination .panels-4 .panels-item:nth-of-type(1) a,
.jh #section-examination .panels-4 .panels-item:nth-of-type(4) a,
.jh #section-examination .panels-4 .panels-item:nth-of-type(5) a,
.jh #section-examination .panels-4 .panels-item:nth-of-type(8) a {
  background-image: url("/jh/resources/img/prospect/bg_03.png");
  background-size: 12px 12px;
}

.panels-4 .panels-thumbnail {
  display: table-cell;
  width: 50%;
}

.panels-4 .panels-text {
  position: relative;
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.panels-4 .panels-heading {
  padding-top: 40px;
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
  .panels-4 .panels-heading {
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .panels-4 .panels-text {
    vertical-align: middle;
  }
}

/* SMALL view background-image reset*/
@media screen and (max-width: 767px) {
  #section-appeal .panels-1 .panels-item a,
  #section-event .panels-1 .panels-item a,
  #section-examination .panels-1 .panels-item a,
  #section-appeal .panels-2 .panels-item a,
  #section-event .panels-2 .panels-item a,
  #section-examination .panels-2 .panels-item a,
  #section-appeal .panels-3 .panels-item a,
  #section-event .panels-3 .panels-item a,
  #section-examination .panels-3 .panels-item a,
  #section-appeal .panels-4 .panels-item a,
  #section-event .panels-4 .panels-item a,
  #section-examination .panels-4 .panels-item a {
    background-image: none !important;
  }

  /* univ */
  .univ #section-appeal .panels-item.even a {
    background-image: url("/univ/resources/img/prospect/bg_01.png") !important;
    background-size: 7px 7px;
  }

  .univ #section-event .panels-item.even a {
    background-image: url("/univ/resources/img/prospect/bg_02.png") !important;
    background-size: 24px 24px;
  }

  .univ #section-examination .panels-item.even a {
    background-image: url("/univ/resources/img/prospect/bg_03.png") !important;
    background-size: 12px 12px;
  }

  /* jh */
  .jh #section-appeal .panels-item.even a {
    background-image: url("/jh/resources/img/prospect/bg_01.png") !important;
    background-size: 7px 7px;
  }

  .jh #section-event .panels-item.even a {
    background-image: url("/jh/resources/img/prospect/bg_02.png") !important;
    background-size: 24px 24px;
  }

  .jh #section-examination .panels-item.even a {
    background-image: url("/jh/resources/img/prospect/bg_03.png") !important;
    background-size: 12px 12px;
  }
}

/* panels-banner */
.panels-banner {
  display: block;
  background: #fff;
  overflow: hidden;
}

.panels-banner a {
  display: block;
}

@media screen and (max-width: 767px) {
  .panels-banner a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    tap-highlight-color: rgba(255, 255, 255, 0.2);
  }
}

.panels-banner img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* activity-more-link */
.activity-more-link {
  padding: 27px 30px;
}

.activity-more-link a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .activity-more-link {
    padding: 21px 15px;
  }

  .activity-more-link a {
    padding: 10px 0;
    font-size: 12px;
  }
}

.activity-more-link a:hover {
  text-decoration: underline;
}

/* link-circle */
.link-circle {
  padding: 40px 30px 30px 30px;
  text-align: center;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .link-circle {
    padding: 25px 15px 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

.link-circle li {
  display: inline-block;
  padding: 0 10px;
  width: 16.66%;
  list-style: none;
  vertical-align: top;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .link-circle li {
    padding: 0 10px 15px 10px;
    width: 33.33%;
    font-size: 13px;
  }
}

.link-circle a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.link-circle a:hover {
  opacity: .7;
  transition: all .4s;
}

.link-circle img {
  display: block;
  margin: 0 auto 20px auto;
  width: 75%;
}

@media screen and (max-width: 767px) {
  .link-circle img {
    margin-bottom: 10px;
  }
}

/* block-examination-link */
.block-examination-link {
  padding: 60px 20px;
}

@media screen and (max-width: 767px) {
  .block-examination-link {
    padding: 30px 15px;
  }
}

.jh .block-examination-link {
  background: url("/jh/resources/img/prospect/bg_03.png") 0 0 repeat;
  background-size: 12px 12px;
}

.examination-link-list {
  font-size: 0;
}

.examination-link-list li {
  display: inline-block;
  margin-right: 2%;
  width: 32%;
}

.examination-link-list li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .examination-link-list li {
    display: block;
    margin: 0 0 15px 0;
    width: 100%;
  }

  .examination-link-list li:last-child {
    margin-bottom: 0;
  }
}

.examination-link-list li a {
  position: relative;
  display: block;
  padding: 22px 0;
  border: 5px solid #fff;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.examination-link-list li a:hover {
  background: rgba(255,255,255,0.2);
  transition: all .4s;
}

@media screen and (max-width: 767px) {
  .examination-link-list li a {
    padding: 13px 0;
    border: 3px solid #fff;
    font-size: 17px;
  }
}

/* box-relation-link */
.box-relation-link {
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: 0;
}

.relation-link-item {
  position: relative;
  display: table-cell;
  vertical-align: top;
  font-size: 14px;
}

.univ .relation-link-item {
  padding: 50px 35px;
  width: 25%;
}

.jh .relation-link-item {
  padding: 35px;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .relation-link-item {
    display: inline-block;
    padding: 40px 15px !important;
    width: 50% !important;;
  }
}

.relation-link-item:nth-child(even) {
  background: url("/resources/img/global/prospect_bg_02.png") 0 0 repeat;
  background-size: 4px 4px;
}

@media screen and (max-width: 767px) {
  .relation-link-item:nth-child(even) {
    background-image: none;
  }

  .relation-link-item:nth-of-type(2),
  .relation-link-item:nth-of-type(3) {
    background: url("/resources/img/global/prospect_bg_02.png") 0 0 repeat;
    background-size: 4px 4px;
  }
}

.relation-link-title {
  padding-top: 3px;
  font-weight: bold;
}

.relation-link-title span {
  display: block;
  font-weight: normal;
}

.item-twitter .relation-link-title {
  padding-left: 30px;
  background: url("/resources/img/global/prospect_icon_03.png") 0 0 no-repeat;
}

.item-facebook .relation-link-title {
  padding-left: 30px;
  background: url("/resources/img/global/prospect_icon_04.png") 0 0 no-repeat;
}

.item-line .relation-link-title {
  padding-left: 30px;
  background: url("/resources/img/global/prospect_icon_06.png") 0 0 no-repeat;
}

@media screen and (max-width: 767px) {
  .item-twitter .relation-link-title,
  .item-facebook .relation-link-title,
  .item-line .relation-link-title {
    padding-top: 0;
    padding-left: 25px;
    background-size: 17px 17px;
  }
}

.item-line-label {
  display: none;
}

@media screen and (max-width: 767px) {
  .item-line-label {
    display: block;
    margin-top: 12px;
    font-size: 12px;
  }
}

.item-line-image {
  margin-top: 13px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .item-line-image {
    display: none;
  }
}

.item-line-btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .item-line-btn {
    display: block;
    margin-top: 15px;
  }
}

.relation-link-list li {
  margin-top: 15px;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .relation-link-list li {
    font-size: 12px;
  }
}

.relation-link-list .list-instagram {
  padding-left: 30px;
  background: url("/resources/img/global/prospect_icon_02.png") 2px 0 no-repeat;
  background-size: 20px 20px;
}

.relation-link-list .list-youtube {
  padding-left: 30px;
  background: url("/resources/img/global/prospect_icon_05.png") 0 0 no-repeat;
}

.relation-more-link {
  position: absolute;
  top: 0;
  right: 0;
}

.relation-more-link a {
  display: block;
  padding: 5px 35px;
  color: #fff;
  text-decoration: none;
  background: #a6a6a6;
}

@media screen and (max-width: 767px) {
  .relation-more-link a {
    padding: 5px 18px;
    font-size: 12px;
  }
}

.relation-more-link a:hover {
  opacity: .8;
  transition: all .4s;
}

/* fixed-banner */
.fixed-banner {
  position: fixed;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .fixed-banner {
    left: 0;
    bottom: 5px;
    width: 100%;
    min-width: 768px;
    max-width: 1600px;
  }

  .fixed-banner:before,
  .fixed-banner:after {
    content: " ";
    display: table;
  }

  .fixed-banner:after {
    clear: both;
  }

  .fixed-banner-container {
    float: right;
    margin-right: 5px;
    width: 340px;
    background: #fff;
  }

  .fixed-banner-container a {
    display: block;
  }

  .fixed-banner-container a:hover {
    opacity: .8;
    transition: all 0.4s;
  }

  .fixed-banner-container img {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }

  .fixed-banner-container a:hover img {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 767px) {
  .fixed-banner {
    left: 0;
    bottom: 0;
  }

  .fixed-banner-container a {
    display: block;
  }

  .fixed-banner-container img {
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
  }
}

/* module override:block-information */
.block-information {
  margin-bottom: 0 !important;
  padding: 35px 30px 30px 30px;
}


.block-information .block-information-title {
  float: none;
}

.block-information .block-information-list li {
  margin-top: 15px;
}

.block-information .block-information-list em {
  display: block;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .block-information {
    padding: 20px 15px 20px 20px;
  }

  .block-information .block-information-title {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .block-information .block-information-list {
    margin-bottom: 25px;
  }

  .block-information .block-information-list span {
    display: inline-block;
  }

  .block-information .block-information-list em {
    padding-right: 0;
    text-decoration: underline;
    font-size: 13px;
  }
}

/* link color:univ */
.univ #section-appeal .block-information a {
  color: #c36;
}

.univ #section-event .block-information a {
  color: #f97b6a;
}

.univ #section-examination .block-information a {
  color: #690;
}

/* link color:jh */
.jh #section-appeal .block-information a {
  color: #936;
}

.jh #section-event .block-information a {
  color: #cc74ae;
}

.jh #section-examination .block-information a {
  color: #690;
}

.block-information-more-link {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .block-information-more-link {
    font-size: 12px;
  }
}

.block-information-more-link a:hover {
  text-decoration: underline;
}


/*
  side
----------------------------------*/
#side {
  position: absolute;
  top: 570px;
  left: 0;
  width: 260px;
  border-top: 1px solid #d8d8d8;
}

@media screen and (max-width: 767px) {
  #side {
    display: none;
  }
}

/* box-line-qr */
.box-line-qr {
  padding: 20px 0;
  text-align: center;
  background: #fff url("/resources/img/global/prospect_bg_02.png") 0 0 repeat;
  background-size: 4px 4px;
}

.box-line-qr-title {
  margin-bottom: 10px;
}

.box-line-qr-image {
  margin-top: 13px;
}

/* box-twitter */
.box-twitter {
  width: 259px;
  border-bottom: 1px solid #d8d8d8;
}

/* box-instagram */
.instagram-title {
  margin-right: 1px;
  padding: 20px 0 20px 80px;
  background: #fff url("/resources/img/global/prospect_icon_02.png") 12px 18px no-repeat;
}

.instagram-title span {
  font-size: 16px;
}

.instagram-list {
  font-size: 0;
}

.instagram-list li {
  display: inline-block;
  width: 33.33%;
}

.instagram-list a {
  display: block;
}

.instagram-list a:hover {
  opacity: .8;
  transition: all .4s;
}

.instagram-list img {
  width: 100%;
}


/*
  site-cover
----------------------------------*/

#active-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.9);
}

#site-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#site-cover .inner{
  position: relative;
  width: 1152px;
  margin: 45px auto 0;
}

#site-cover img {
  margin: 0 auto;
}

.site-cover-btn,
.site-cover-btn-skip {
  position: absolute;
}

.site-cover-btn {
  right: 26%;
  bottom: 8%;
  width: 20%;
}

.site-cover-btn img{
  width: 235px;
}

.site-cover-btn-skip {
  right: 2%;
  bottom: 5%;
}

@media screen and (min-width: 768px) {
  .site-cover-btn a:hover {
    opacity: .8;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 767px) {
  #site-cover .inner{
    width: 100%;
    margin: 0 auto;
  }

  #site-cover img {
    width: 100%;
  }

  .site-cover-btn {
    width: 90%;
    bottom: 10%;
    left:5%;
  }
  .site-cover-btn img{
    width: 500px;
  }
  .site-cover-btn-skip-02{
    position: absolute;
    right: -3%;
    bottom: 3%;
  }
  .site-cover-btn-skip-02 img{
    width: 75% !important;
  }
}
